In [8]:
from random import random

import pandas as pd

In [2]:
import numpy as np

In [7]:
data = np.array([[1,4], [2,5], [3,6]])
data

array([[1, 4],
       [2, 5],
       [3, 6]])

In [15]:
example = pd.DataFrame(data, index=['row1','row2','row3'], columns=['col1','col2'])

In [16]:
example

      col1  col2
row1     1     4
row2     2     5
row3     3     6

In [17]:
states = ['usa', 'thanh hoa', 'france', 'vietnam']

In [25]:
population = [10000, 20000, 30000 ,40000]

In [26]:
dictionary = {'State':states, 'Population':population}

In [27]:
example2 = pd.DataFrame(dictionary)

In [28]:
example2

       State  Population
0        usa       10000
1  thanh hoa       20000
2     france       30000
3    vietnam       40000

In [29]:
example3 = pd.read_csv('StudentsPerformance.csv')
example3

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [30]:
example3.shape

(1000, 8)

In [74]:
pd.set_option('display.max_rows', 10)

In [46]:
example3.index

RangeIndex(start=0, stop=1000, step=1)

In [47]:
example3.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [48]:
example3.iterrows()

In [49]:
example3.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [50]:
example3.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

In [52]:
example3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [53]:
len(example3)

1000

In [61]:
max(example3.columns)
min(example3.columns)

'gender'

In [60]:
type(example3)

pandas.core.frame.DataFrame

In [63]:
example3['gender']

0      female
1      female
2      female
3        male
4        male
5      female
6      female
7        male
8        male
9      female
10       male
11       male
12     female
13       male
14     female
15     female
16       male
17     female
18       male
19     female
20       male
21     female
22       male
23     female
24       male
25       male
26       male
27     female
28       male
29     female
30     female
31     female
32     female
33       male
34       male
35       male
36     female
37     female
38     female
39       male
40       male
41     female
42     female
43       male
44     female
45       male
46     female
47     female
48     female
49       male
50       male
51       male
52       male
53       male
54     female
55     female
56     female
57       male
58       male
59     female
60       male
61       male
62       male
63     female
64     female
65       male
66       male
67     female
68       male
69     female
70     female
71       male
72     female
73       male
74       male
75       male
76       male
77       male
78     female
79     female
80     female
81       male
82       male
83       male
84       male
85     female
86     female
87     female
88     female
89     female
90     female
91       male
92       male
93       male
94     female
95       male
96       male
97     female
98     female
99     female
100      male
101      male
102    female
103      male
104      male
105    female
106    female
107      male
108    female
109    female
110    female
111      male
112      male
113    female
114    female
115      male
116    female
117    female
118    female
119    female
120    female
121      male
122    female
123      male
124      male
125    female
126      male
127      male
128      male
129    female
130      male
131      male
132      male
133    female
134      male
135      male
136      male
137      male
138    female
139      male
140    female
141    female
142    female
143      male
144      male
145    female
146      male
147      male
148    female
149      male
150      male
151      male
152    female
153      male
154      male
155    female
156    female
157      male
158    female
159      male
160      male
161    female
162      male
163      male
164    female
165    female
166      male
167    female
168    female
169    female
170      male
171      male
172    female
173    female
174    female
175    female
176    female
177    female
178    female
179    female
180      male
181    female
182    female
183    female
184      male
185      male
186      male
187      male
188      male
189    female
190    female
191      male
192    female
193      male
194    female
195      male
196      male
197      male
198    female
199    female
200    female
201    female
202      male
203    female
204      male
205      male
206      male
207      male
208    female
209    female
210      male
211      male
212    female
213      male
214      male
215      male
216    female
217    female
218      male
219      male
220    female
221      male
222    female
223      male
224    female
225    female
226    female
227      male
228      male
229    female
230      male
231      male
232    female
233      male
234      male
235      male
236      male
237    female
238      male
239      male
240      male
241    female
242    female
243      male
244      male
245      male
246      male
247    female
248    female
249      male
250      male
251    female
252    female
253      male
254      male
255    female
256    female
257      male
258    female
259    female
260    female
261      male
262    female
263    female
264      male
265      male
266    female
267    female
268    female
269    female
270      male
271      male
272    female
273    female
274      male
275      male
276    female
277    female
278    female
279      male
280      male
281      male
282    female
283    female
284    female
285      male
286      male
287    female
288      male
289      male
290      male
291      male
292      male
293    female
294      male
295      male
296      male
297      male
298      male
299      male
300      male
301      male
302    female
303      male
304    female
305      male
306      male
307      male
308    female
309    female
310    female
311      male
312      male
313    female
314    female
315      male
316    female
317      male
318      male
319    female
320    female
321    female
322    female
323    female
324    female
325    female
326      male
327      male
328      male
329    female
330      male
331      male
332      male
333      male
334    female
335    female
336      male
337      male
338    female
339    female
340      male
341    female
342    female
343      male
344      male
345    female
346      male
347    female
348      male
349      male
350    female
351      male
352    female
353    female
354    female
355    female
356      male
357    female
358      male
359    female
360    female
361      male
362    female
363    female
364      male
365      male
366      male
367      male
368    female
369    female
370      male
371    female
372      male
373    female
374    female
375      male
376    female
377    female
378    female
379      male
380    female
381      male
382      male
383    female
384    female
385    female
386    female
387    female
388    female
389      male
390      male
391    female
392      male
393      male
394    female
395      male
396    female
397    female
398      male
399      male
400    female
401      male
402    female
403    female
404    female
405    female
406      male
407    female
408    female
409      male
410    female
411      male
412      male
413      male
414    female
415      male
416      male
417      male
418      male
419      male
420    female
421    female
422    female
423    female
424      male
425    female
426      male
427      male
428      male
429      male
430      male
431    female
432      male
433    female
434      male
435      male
436      male
437      male
438      male
439      male
440    female
441    female
442    female
443    female
444      male
445    female
446      male
447      male
448      male
449      male
450    female
451    female
452    female
453      male
454    female
455      male
456    female
457      male
458    female
459      male
460      male
461      male
462    female
463    female
464      male
465    female
466    female
467      male
468    female
469      male
470    female
471    female
472    female
473    female
474    female
475    female
476      male
477      male
478    female
479      male
480      male
481    female
482      male
483      male
484    female
485      male
486      male
487    female
488      male
489      male
490    female
491    female
492    female
493    female
494    female
495      male
496    female
497    female
498    female
499      male
500    female
501    female
502      male
503    female
504    female
505    female
506      male
507      male
508      male
509    female
510      male
511      male
512      male
513    female
514    female
515    female
516    female
517    female
518    female
519    female
520      male
521    female
522      male
523      male
524      male
525      male
526      male
527    female
528    female
529    female
530    female
531    female
532      male
533    female
534      male
535    female
536      male
537    female
538      male
539      male
540      male
541      male
542    female
543    female
544    female
545      male
546    female
547      male
548    female
549      male
550      male
551      male
552    female
553      male
554      male
555    female
556    female
557      male
558    female
559      male
560    female
561    female
562      male
563    female
564      male
565      male
566    female
567    female
568      male
569      male
570      male
571      male
572    female
573    female
574    female
575      male
576      male
577    female
578    female
579    female
580    female
581    female
582    female
583    female
584    female
585    female
586    female
587    female
588    female
589    female
590      male
591      male
592      male
593    female
594    female
595    female
596      male
597      male
598    female
599    female
600    female
601    female
602    female
603      male
604      male
605      male
606    female
607    female
608    female
609    female
610      male
611    female
612      male
613    female
614    female
615    female
616    female
617      male
618      male
619      male
620    female
621      male
622      male
623      male
624    female
625      male
626      male
627      male
628      male
629    female
630      male
631      male
632    female
633    female
634      male
635      male
636    female
637    female
638      male
639    female
640      male
641    female
642    female
643    female
644      male
645    female
646    female
647    female
648    female
649    female
650      male
651    female
652    female
653    female
654    female
655    female
656      male
657      male
658    female
659      male
660      male
661      male
662    female
663    female
664      male
665    female
666    female
667    female
668      male
669      male
670    female
671      male
672    female
673    female
674    female
675    female
676    female
677    female
678      male
679      male
680    female
681      male
682      male
683    female
684      male
685    female
686      male
687      male
688      male
689      male
690    female
691    female
692    female
693    female
694    female
695    female
696    female
697    female
698    female
699      male
700    female
701    female
702      male
703    female
704    female
705      male
706      male
707      male
708      male
709    female
710      male
711    female
712    female
713      male
714    female
715    female
716      male
717    female
718    female
719      male
720    female
721      male
722    female
723      male
724      male
725      male
726    female
727      male
728    female
729      male
730    female
731      male
732    female
733      male
734    female
735      male
736      male
737    female
738      male
739      male
740      male
741    female
742    female
743    female
744      male
745      male
746      male
747      male
748    female
749      male
750      male
751      male
752      male
753    female
754      male
755    female
756      male
757      male
758    female
759      male
760    female
761    female
762      male
763    female
764      male
765    female
766    female
767      male
768    female
769      male
770      male
771      male
772    female
773    female
774      male
775    female
776    female
777    female
778    female
779      male
780    female
781    female
782    female
783    female
784      male
785    female
786    female
787    female
788      male
789    female
790    female
791    female
792      male
793      male
794    female
795    female
796      male
797    female
798      male
799    female
800      male
801      male
802    female
803    female
804    female
805      male
806    female
807    female
808      male
809      male
810      male
811      male
812    female
813      male
814    female
815      male
816    female
817      male
818    female
819    female
820    female
821    female
822      male
823    female
824    female
825      male
826    female
827    female
828    female
829      male
830    female
831    female
832      male
833    female
834      male
835    female
836      male
837    female
838      male
839    female
840    female
841      male
842    female
843      male
844    female
845      male
846      male
847      male
848    female
849      male
850      male
851    female
852    female
853      male
854      male
855    female
856      male
857    female
858      male
859      male
860    female
861    female
862      male
863    female
864      male
865      male
866      male
867      male
868      male
869      male
870      male
871    female
872      male
873      male
874    female
875      male
876      male
877      male
878    female
879    female
880      male
881    female
882    female
883      male
884    female
885    female
886    female
887      male
888    female
889      male
890    female
891    female
892    female
893      male
894    female
895    female
896      male
897    female
898      male
899    female
900      male
901    female
902    female
903    female
904    female
905      male
906      male
907    female
908    female
909      male
910      male
911    female
912    female
913    female
914    female
915    female
916      male
917    female
918    female
919      male
920      male
921    female
922      male
923    female
924      male
925      male
926      male
927    female
928      male
929    female
930      male
931      male
932      male
933      male
934      male
935      male
936      male
937    female
938      male
939      male
940      male
941    female
942      male
943      male
944    female
945    female
946      male
947    female
948      male
949    female
950      male
951    female
952    female
953      male
954    female
955      male
956      male
957    female
958    female
959      male
960    female
961    female
962    female
963    female
964      male
965    female
966      male
967      male
968    female
969    female
970    female
971      male
972    female
973    female
974    female
975    female
976      male
977      male
978      male
979    female
980    female
981      male
982      male
983    female
984    female
985      male
986    female
987      male
988    female
989    female
990      male
991    female
992    female
993    female
994      male
995    female
996      male
997    female
998    female
999    female
Name: gender, dtype: object

In [67]:
example3.gender

0      female
1      female
2      female
3        male
4        male
5      female
6      female
7        male
8        male
9      female
10       male
11       male
12     female
13       male
14     female
15     female
16       male
17     female
18       male
19     female
20       male
21     female
22       male
23     female
24       male
25       male
26       male
27     female
28       male
29     female
30     female
31     female
32     female
33       male
34       male
35       male
36     female
37     female
38     female
39       male
40       male
41     female
42     female
43       male
44     female
45       male
46     female
47     female
48     female
49       male
50       male
51       male
52       male
53       male
54     female
55     female
56     female
57       male
58       male
59     female
60       male
61       male
62       male
63     female
64     female
65       male
66       male
67     female
68       male
69     female
70     female
71       male
72     female
73       male
74       male
75       male
76       male
77       male
78     female
79     female
80     female
81       male
82       male
83       male
84       male
85     female
86     female
87     female
88     female
89     female
90     female
91       male
92       male
93       male
94     female
95       male
96       male
97     female
98     female
99     female
100      male
101      male
102    female
103      male
104      male
105    female
106    female
107      male
108    female
109    female
110    female
111      male
112      male
113    female
114    female
115      male
116    female
117    female
118    female
119    female
120    female
121      male
122    female
123      male
124      male
125    female
126      male
127      male
128      male
129    female
130      male
131      male
132      male
133    female
134      male
135      male
136      male
137      male
138    female
139      male
140    female
141    female
142    female
143      male
144      male
145    female
146      male
147      male
148    female
149      male
150      male
151      male
152    female
153      male
154      male
155    female
156    female
157      male
158    female
159      male
160      male
161    female
162      male
163      male
164    female
165    female
166      male
167    female
168    female
169    female
170      male
171      male
172    female
173    female
174    female
175    female
176    female
177    female
178    female
179    female
180      male
181    female
182    female
183    female
184      male
185      male
186      male
187      male
188      male
189    female
190    female
191      male
192    female
193      male
194    female
195      male
196      male
197      male
198    female
199    female
200    female
201    female
202      male
203    female
204      male
205      male
206      male
207      male
208    female
209    female
210      male
211      male
212    female
213      male
214      male
215      male
216    female
217    female
218      male
219      male
220    female
221      male
222    female
223      male
224    female
225    female
226    female
227      male
228      male
229    female
230      male
231      male
232    female
233      male
234      male
235      male
236      male
237    female
238      male
239      male
240      male
241    female
242    female
243      male
244      male
245      male
246      male
247    female
248    female
249      male
250      male
251    female
252    female
253      male
254      male
255    female
256    female
257      male
258    female
259    female
260    female
261      male
262    female
263    female
264      male
265      male
266    female
267    female
268    female
269    female
270      male
271      male
272    female
273    female
274      male
275      male
276    female
277    female
278    female
279      male
280      male
281      male
282    female
283    female
284    female
285      male
286      male
287    female
288      male
289      male
290      male
291      male
292      male
293    female
294      male
295      male
296      male
297      male
298      male
299      male
300      male
301      male
302    female
303      male
304    female
305      male
306      male
307      male
308    female
309    female
310    female
311      male
312      male
313    female
314    female
315      male
316    female
317      male
318      male
319    female
320    female
321    female
322    female
323    female
324    female
325    female
326      male
327      male
328      male
329    female
330      male
331      male
332      male
333      male
334    female
335    female
336      male
337      male
338    female
339    female
340      male
341    female
342    female
343      male
344      male
345    female
346      male
347    female
348      male
349      male
350    female
351      male
352    female
353    female
354    female
355    female
356      male
357    female
358      male
359    female
360    female
361      male
362    female
363    female
364      male
365      male
366      male
367      male
368    female
369    female
370      male
371    female
372      male
373    female
374    female
375      male
376    female
377    female
378    female
379      male
380    female
381      male
382      male
383    female
384    female
385    female
386    female
387    female
388    female
389      male
390      male
391    female
392      male
393      male
394    female
395      male
396    female
397    female
398      male
399      male
400    female
401      male
402    female
403    female
404    female
405    female
406      male
407    female
408    female
409      male
410    female
411      male
412      male
413      male
414    female
415      male
416      male
417      male
418      male
419      male
420    female
421    female
422    female
423    female
424      male
425    female
426      male
427      male
428      male
429      male
430      male
431    female
432      male
433    female
434      male
435      male
436      male
437      male
438      male
439      male
440    female
441    female
442    female
443    female
444      male
445    female
446      male
447      male
448      male
449      male
450    female
451    female
452    female
453      male
454    female
455      male
456    female
457      male
458    female
459      male
460      male
461      male
462    female
463    female
464      male
465    female
466    female
467      male
468    female
469      male
470    female
471    female
472    female
473    female
474    female
475    female
476      male
477      male
478    female
479      male
480      male
481    female
482      male
483      male
484    female
485      male
486      male
487    female
488      male
489      male
490    female
491    female
492    female
493    female
494    female
495      male
496    female
497    female
498    female
499      male
500    female
501    female
502      male
503    female
504    female
505    female
506      male
507      male
508      male
509    female
510      male
511      male
512      male
513    female
514    female
515    female
516    female
517    female
518    female
519    female
520      male
521    female
522      male
523      male
524      male
525      male
526      male
527    female
528    female
529    female
530    female
531    female
532      male
533    female
534      male
535    female
536      male
537    female
538      male
539      male
540      male
541      male
542    female
543    female
544    female
545      male
546    female
547      male
548    female
549      male
550      male
551      male
552    female
553      male
554      male
555    female
556    female
557      male
558    female
559      male
560    female
561    female
562      male
563    female
564      male
565      male
566    female
567    female
568      male
569      male
570      male
571      male
572    female
573    female
574    female
575      male
576      male
577    female
578    female
579    female
580    female
581    female
582    female
583    female
584    female
585    female
586    female
587    female
588    female
589    female
590      male
591      male
592      male
593    female
594    female
595    female
596      male
597      male
598    female
599    female
600    female
601    female
602    female
603      male
604      male
605      male
606    female
607    female
608    female
609    female
610      male
611    female
612      male
613    female
614    female
615    female
616    female
617      male
618      male
619      male
620    female
621      male
622      male
623      male
624    female
625      male
626      male
627      male
628      male
629    female
630      male
631      male
632    female
633    female
634      male
635      male
636    female
637    female
638      male
639    female
640      male
641    female
642    female
643    female
644      male
645    female
646    female
647    female
648    female
649    female
650      male
651    female
652    female
653    female
654    female
655    female
656      male
657      male
658    female
659      male
660      male
661      male
662    female
663    female
664      male
665    female
666    female
667    female
668      male
669      male
670    female
671      male
672    female
673    female
674    female
675    female
676    female
677    female
678      male
679      male
680    female
681      male
682      male
683    female
684      male
685    female
686      male
687      male
688      male
689      male
690    female
691    female
692    female
693    female
694    female
695    female
696    female
697    female
698    female
699      male
700    female
701    female
702      male
703    female
704    female
705      male
706      male
707      male
708      male
709    female
710      male
711    female
712    female
713      male
714    female
715    female
716      male
717    female
718    female
719      male
720    female
721      male
722    female
723      male
724      male
725      male
726    female
727      male
728    female
729      male
730    female
731      male
732    female
733      male
734    female
735      male
736      male
737    female
738      male
739      male
740      male
741    female
742    female
743    female
744      male
745      male
746      male
747      male
748    female
749      male
750      male
751      male
752      male
753    female
754      male
755    female
756      male
757      male
758    female
759      male
760    female
761    female
762      male
763    female
764      male
765    female
766    female
767      male
768    female
769      male
770      male
771      male
772    female
773    female
774      male
775    female
776    female
777    female
778    female
779      male
780    female
781    female
782    female
783    female
784      male
785    female
786    female
787    female
788      male
789    female
790    female
791    female
792      male
793      male
794    female
795    female
796      male
797    female
798      male
799    female
800      male
801      male
802    female
803    female
804    female
805      male
806    female
807    female
808      male
809      male
810      male
811      male
812    female
813      male
814    female
815      male
816    female
817      male
818    female
819    female
820    female
821    female
822      male
823    female
824    female
825      male
826    female
827    female
828    female
829      male
830    female
831    female
832      male
833    female
834      male
835    female
836      male
837    female
838      male
839    female
840    female
841      male
842    female
843      male
844    female
845      male
846      male
847      male
848    female
849      male
850      male
851    female
852    female
853      male
854      male
855    female
856      male
857    female
858      male
859      male
860    female
861    female
862      male
863    female
864      male
865      male
866      male
867      male
868      male
869      male
870      male
871    female
872      male
873      male
874    female
875      male
876      male
877      male
878    female
879    female
880      male
881    female
882    female
883      male
884    female
885    female
886    female
887      male
888    female
889      male
890    female
891    female
892    female
893      male
894    female
895    female
896      male
897    female
898      male
899    female
900      male
901    female
902    female
903    female
904    female
905      male
906      male
907    female
908    female
909      male
910      male
911    female
912    female
913    female
914    female
915    female
916      male
917    female
918    female
919      male
920      male
921    female
922      male
923    female
924      male
925      male
926      male
927    female
928      male
929    female
930      male
931      male
932      male
933      male
934      male
935      male
936      male
937    female
938      male
939      male
940      male
941    female
942      male
943      male
944    female
945    female
946      male
947    female
948      male
949    female
950      male
951    female
952    female
953      male
954    female
955      male
956      male
957    female
958    female
959      male
960    female
961    female
962    female
963    female
964      male
965    female
966      male
967      male
968    female
969    female
970    female
971      male
972    female
973    female
974    female
975    female
976      male
977      male
978      male
979    female
980    female
981      male
982      male
983    female
984    female
985      male
986    female
987      male
988    female
989    female
990      male
991    female
992    female
993    female
994      male
995    female
996      male
997    female
998    female
999    female
Name: gender, dtype: object

In [76]:
example3['language']  = 70
example3

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language
0,female,group B,bachelor's degree,standard,none,72,72,74,70
1,female,group C,some college,standard,completed,69,90,88,70
2,female,group B,master's degree,standard,none,90,95,93,70
3,male,group A,associate's degree,free/reduced,none,47,57,44,70
4,male,group C,some college,standard,none,76,78,75,70
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,70
996,male,group C,high school,free/reduced,none,62,55,55,70
997,female,group C,high school,free/reduced,completed,59,71,65,70
998,female,group D,some college,standard,completed,68,78,77,70
999,female,group D,some college,free/reduced,none,77,86,86,70

In [79]:
language_score = np.arange(0, 1000)

In [81]:
example3['language'] = np.random.randint(0,100,size= 1000)

In [82]:
example3

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language
0,female,group B,bachelor's degree,standard,none,72,72,74,14
1,female,group C,some college,standard,completed,69,90,88,22
2,female,group B,master's degree,standard,none,90,95,93,88
3,male,group A,associate's degree,free/reduced,none,47,57,44,10
4,male,group C,some college,standard,none,76,78,75,28
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,99
996,male,group C,high school,free/reduced,none,62,55,55,36
997,female,group C,high school,free/reduced,completed,59,71,65,67
998,female,group D,some college,standard,completed,68,78,77,58
999,female,group D,some college,free/reduced,none,77,86,86,34

In [88]:
so1 = np.random.randint(0,100,size= 1000)

In [84]:
so2 = np.random.randint(0,100,size= 1000)

In [92]:
francais = pd.Series(so1, index = np.arange(0, 1000))

In [94]:
vietnamien = pd.Series(so2, index = np.arange(0, 1000))

In [97]:
example3.assign(francais = francais, vietnamien = vietnamien)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,...,reading score,writing score,language,francais,vietnamien
0,female,group B,bachelor's degree,standard,none,...,72,74,14,39,48
1,female,group C,some college,standard,completed,...,90,88,22,34,81
2,female,group B,master's degree,standard,none,...,95,93,88,29,53
3,male,group A,associate's degree,free/reduced,none,...,57,44,10,25,48
4,male,group C,some college,standard,none,...,78,75,28,57,45
...,...,...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,...,99,95,99,46,79
996,male,group C,high school,free/reduced,none,...,55,55,36,63,29
997,female,group C,high school,free/reduced,completed,...,71,65,67,37,12
998,female,group D,some college,standard,completed,...,78,77,58,37,33
999,female,group D,some college,free/reduced,none,...,86,86,34,81,66

In [99]:
example3 = example3.assign(francais = francais, vietnamien = vietnamien)

In [100]:
example3.insert(2, 'que quan', 'thanh hoa')

In [101]:
example3

,gender,race/ethnicity,que quan,parental level of education,lunch,...,reading score,writing score,language,francais,vietnamien
0,female,group B,thanh hoa,bachelor's degree,standard,...,72,74,14,39,48
1,female,group C,thanh hoa,some college,standard,...,90,88,22,34,81
2,female,group B,thanh hoa,master's degree,standard,...,95,93,88,29,53
3,male,group A,thanh hoa,associate's degree,free/reduced,...,57,44,10,25,48
4,male,group C,thanh hoa,some college,standard,...,78,75,28,57,45
...,...,...,...,...,...,...,...,...,...,...,...
995,female,group E,thanh hoa,master's degree,standard,...,99,95,99,46,79
996,male,group C,thanh hoa,high school,free/reduced,...,55,55,36,63,29
997,female,group C,thanh hoa,high school,free/reduced,...,71,65,67,37,12
998,female,group D,thanh hoa,some college,standard,...,78,77,58,37,33
999,female,group D,thanh hoa,some college,free/reduced,...,86,86,34,81,66

In [105]:
example3['francais'].sum()

np.int64(49992)

In [107]:
example3['vietnamien'].count()

np.int64(1000)

In [114]:
example3['vietnamien'].mean()

np.float64(48.282)

In [113]:
example3['vietnamien'].min() / example3['vietnamien'].max()

np.float64(0.0)

In [122]:
avg = (example3['vietnamien'] + example3['francais'] + example3['language']) / 3

In [126]:
example3['AVG'] = round(avg,2)

In [127]:
example3

,gender,race/ethnicity,que quan,parental level of education,lunch,...,writing score,language,francais,vietnamien,AVG
0,female,group B,thanh hoa,bachelor's degree,standard,...,74,14,39,48,33.67
1,female,group C,thanh hoa,some college,standard,...,88,22,34,81,45.67
2,female,group B,thanh hoa,master's degree,standard,...,93,88,29,53,56.67
3,male,group A,thanh hoa,associate's degree,free/reduced,...,44,10,25,48,27.67
4,male,group C,thanh hoa,some college,standard,...,75,28,57,45,43.33
...,...,...,...,...,...,...,...,...,...,...,...
995,female,group E,thanh hoa,master's degree,standard,...,95,99,46,79,74.67
996,male,group C,thanh hoa,high school,free/reduced,...,55,36,63,29,42.67
997,female,group C,thanh hoa,high school,free/reduced,...,65,67,37,12,38.67
998,female,group D,thanh hoa,some college,standard,...,77,58,37,33,42.67
999,female,group D,thanh hoa,some college,free/reduced,...,86,34,81,66,60.33

In [130]:
example3['gender'].value_counts(normalize = True)

gender
female    0.518
male      0.482
Name: proportion, dtype: float64

In [131]:
example3['parental level of education'].value_counts()

parental level of education
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: count, dtype: int64

In [139]:
example3.sort_values(['francais' , 'vietnamien'], ascending = False, inplace = True)

In [149]:
example3.sort_values(['race/ethnicity'], ascending = True, key=lambda col:col.str.lower())

,gender,race/ethnicity,que quan,parental level of education,lunch,...,writing score,language,francais,vietnamien,AVG
14,female,group A,thanh hoa,master's degree,standard,...,58,16,62,12,30.00
77,male,group A,thanh hoa,bachelor's degree,standard,...,81,48,45,71,54.67
428,male,group A,thanh hoa,some high school,free/reduced,...,53,72,1,48,40.33
597,male,group A,thanh hoa,some high school,standard,...,48,78,1,56,45.00
356,male,group A,thanh hoa,associate's degree,standard,...,61,99,1,77,59.00
...,...,...,...,...,...,...,...,...,...,...,...
686,male,group E,thanh hoa,some college,standard,...,68,65,30,3,32.67
190,female,group E,thanh hoa,associate's degree,standard,...,69,1,29,42,24.00
995,female,group E,thanh hoa,master's degree,standard,...,95,99,46,79,74.67
608,female,group E,thanh hoa,some college,standard,...,62,81,29,10,40.00
79,female,group E,thanh hoa,master's degree,standard,...,68,36,39,10,28.33

In [152]:
new_index = np.arange(0,1000)

In [157]:
new_index
import random

In [160]:
new_index

array([314, 639, 367, 356, 363, 511,  47, 273, 458, 817, 296,  84, 538,
       832,  61, 634,   2, 299, 380, 524, 539, 654, 186, 399, 627, 880,
       534, 794, 131, 587, 672, 409, 883, 676, 582, 965, 831, 969,  91,
       343, 410, 457, 136,  50, 526, 715, 624, 425, 297, 467, 361,  93,
       103, 116, 377, 184, 919, 128, 866, 653, 890, 476, 109, 197, 208,
       108, 453, 474, 695, 490, 452, 629, 319, 887, 357, 946, 259, 403,
       903, 394, 262, 637, 217, 158, 387,  27, 660, 276, 256, 986, 305,
       881,  88, 791, 757, 202, 764, 200, 340, 183, 180, 998, 995, 440,
       666, 101, 892, 988, 758, 322, 948, 743, 686, 872, 388, 424, 310,
       647, 242, 466, 865, 949,  87, 529, 819, 591, 704, 780, 687, 107,
       265, 973,  71, 849,  79, 138, 768, 829, 770, 523, 950, 588, 480,
       150, 820, 412, 706, 549, 406, 454, 301, 250,  65, 311, 396, 868,
       489, 385, 793, 381, 759,  48, 106, 997, 192,  67,  34, 404, 895,
       967, 258, 355,  37, 941,  56, 459, 910, 368, 327, 225, 359,   1,
       928, 976, 955, 293, 191, 558, 801,  13,  23, 698, 577, 990, 616,
       157,  41,   8, 232, 535, 471, 614, 806, 461, 633, 435, 933, 813,
       992, 712, 720, 971, 316, 279, 728, 665, 796, 818, 465,  33, 429,
       347,  45, 484, 207, 126, 254, 496, 436, 723, 143, 741, 609, 398,
       171, 867, 638,   5, 566, 173, 677, 324,  19, 503, 268, 156, 991,
       828, 231, 580, 714, 309, 320, 845, 598, 679,   7, 497, 594, 371,
       659, 241, 565, 313, 295,  26, 246,   3, 249, 696, 360, 934, 449,
       460, 702, 816, 493, 445, 475, 154, 190,   9, 560, 423, 882, 922,
       122, 650, 821, 597, 947,  97, 519, 315, 411, 915, 463, 416, 790,
       664,  62, 884, 499, 384, 864, 592,  76, 940, 486, 861, 611, 339,
       555, 959, 306, 725, 977, 214, 657, 645, 938, 521, 935, 289, 473,
       219, 124, 815, 335, 504, 204, 857, 270, 930, 851, 981,  12, 375,
       874, 298, 860, 730, 472, 954, 669, 554, 130, 325, 267,  90, 520,
       775, 102, 114,  55, 201, 858, 451, 583, 630,  31, 547, 139, 446,
       508, 900, 351, 257,  24, 119, 175, 773, 705, 240, 618, 888, 932,
       275, 772, 917, 514, 749, 640, 658, 481, 734, 160, 803,  68, 280,
       838, 692, 662, 760, 674, 789, 711, 635, 323, 960, 264,  75, 401,
       673, 172, 239, 846, 732, 112, 247, 500, 756, 308, 762, 540,  49,
       929,  95, 304, 545, 266, 300, 931, 468, 507, 822, 610, 901,  58,
       700, 848, 600, 428, 766, 430, 783, 787, 891, 182, 494, 533, 972,
       379, 427, 678, 641, 372, 215, 522, 530, 165, 606, 132, 985, 726,
        81, 601, 556, 579, 193, 512, 236, 987, 923, 342, 911, 469, 317,
       383, 495, 177, 123, 797, 914,  17, 808, 104, 996, 779, 833, 482,
       414, 596, 198, 328, 786, 121, 438, 369, 333, 354, 550, 255, 761,
       707, 722, 655, 338, 142, 218, 274,  72, 420, 362, 134, 689, 652,
       879, 763, 572, 341, 716, 374, 148,  69, 735, 402,  46, 710, 137,
       291, 346, 370, 111, 210, 631, 800, 906, 352, 593, 581, 921, 364,
       164, 389, 366, 553, 564, 859,  44,  54,  57, 978, 675, 784, 850,
       825, 671, 957, 395, 952, 944, 100, 166, 487, 113, 731, 836, 203,
       898,  94, 886, 439, 417, 628, 701, 708,  36,  29, 161, 574, 899,
       234, 576,  53, 431, 904, 518,  16, 332,  14, 771,  73, 542, 691,
       456, 956, 221, 205, 605, 261, 167, 350, 212, 528, 792, 133, 729,
       251,  38, 885, 426, 233, 548, 809, 646, 856, 964, 544, 498, 742,
       744, 811, 736, 283, 740, 823, 382, 795, 603, 199, 894, 753, 989,
       853, 982, 781, 185, 839, 269, 447, 651, 392, 485, 907, 648, 216,
       419, 584, 272, 537,  20, 513, 479, 532, 260, 211, 562, 551, 209,
       196, 288, 144,  77, 661, 129, 450, 245, 223, 963, 284, 176,  92,
        25, 852, 110,  40, 510, 226, 163, 517, 213, 620, 294, 824, 543,
        35, 667, 863, 644, 292, 541, 238, 568, 174, 847, 141, 432, 902,
       117, 755, 557, 718, 709,   0, 181, 277, 505, 589, 980,  83, 668,
       777,  98, 478, 684, 713, 945, 345,  89, 278, 875, 727,  70, 170,
       552, 918, 421, 837, 281, 842, 418, 559, 893, 263,  99, 703, 970,
       140, 307, 877, 509, 477, 573, 386, 567, 206, 285, 835, 670, 506,
       750, 376, 336, 748, 920,  18, 975, 765, 924,   6, 612, 717, 869,
       841,  64, 405, 464, 870, 805, 739, 905, 683, 501,  86, 827,  78,
       873, 571, 230,  96, 373, 455, 826,  63, 348, 595, 326, 189, 365,
       951, 649, 680, 774, 195, 146, 178, 115, 162, 492, 854, 693, 688,
       237,  66,  85, 344, 607, 599, 939, 643, 724, 302,  80, 961, 699,
       878, 927, 925, 625, 168, 312, 908,  60,  74, 397, 527,  52, 719,
       602, 778, 663, 516, 491, 912, 769, 812,  21, 968, 697, 151, 444,
       926, 604, 984, 179, 814, 244, 834, 993, 575,  11, 871, 615, 754,
       437,  28,  10, 619, 408, 546, 415, 810, 349, 334, 331, 448, 488,
       271, 613, 785,  43, 443, 169, 253, 622, 330, 746, 400, 776, 413,
       909, 685, 188, 979, 737, 767, 422, 802, 585, 125, 502,  22, 563,
       224, 626, 896, 118, 578, 227,  42, 621, 788, 656, 353, 252, 152,
       897, 804, 561, 433, 942, 590, 799, 994, 570, 282, 303, 105, 290,
       153, 586, 953, 843, 855, 287, 286, 569, 876,  39, 632, 721, 999,
       733, 329, 747, 229, 135, 147, 525, 966, 642, 889,  51,  30, 840,
       187, 751,  82,   4, 149, 690, 378, 798,  59,  32, 470, 358, 681,
       483, 337, 441, 974, 220, 943, 536, 159, 694, 623, 782, 983, 145,
       434, 155, 962, 937,  15, 321, 228, 608, 636, 318, 515, 407, 442,
       752, 807, 390, 913, 222, 127, 120, 617, 531, 393, 830, 194, 243,
       745, 958, 462, 844, 248, 936, 682, 391, 738, 235, 916, 862])

In [159]:
random.shuffle(new_index)

In [161]:
example3['new_index'] = new_index

In [196]:
example3.set_index('new_index')
example3 = example3.set_index('new_index')

In [172]:
example3.rename(columns = {'gender' : 'Gender'})

,Gender,race/ethnicity,que quan,parental level of education,lunch,...,language,francais,vietnamien,AVG,new_index
14,female,group A,thanh hoa,master's degree,standard,...,16,62,12,30.00,314
3,male,group A,thanh hoa,associate's degree,free/reduced,...,10,25,48,27.67,639
994,male,group A,thanh hoa,high school,standard,...,97,93,44,78.00,367
731,male,group A,thanh hoa,some high school,free/reduced,...,4,24,2,10.00,356
62,male,group A,thanh hoa,associate's degree,free/reduced,...,76,62,3,47.00,363
...,...,...,...,...,...,...,...,...,...,...,...
56,female,group E,thanh hoa,associate's degree,standard,...,62,22,31,38.33,391
909,male,group E,thanh hoa,bachelor's degree,standard,...,61,80,50,63.67,738
503,female,group E,thanh hoa,associate's degree,standard,...,82,44,59,61.67,235
538,male,group E,thanh hoa,bachelor's degree,standard,...,95,64,23,60.67,916
79,female,group E,thanh hoa,master's degree,standard,...,36,39,10,28.33,862

In [174]:
example3 = example3.rename(columns = {'gender' : 'Gender'})

In [176]:
example3 = example3.rename(columns = {'language' : 'english' , 'francais' : 'franÃ§ais'})

In [178]:
example3 = example3.rename(index = {0 : 'english' , 1 : 'franÃ§ais'})

In [187]:
example3.set_index('new_index')
example3

,Gender,race/ethnicity,que quan,parental level of education,lunch,...,english,franÃ§ais,vietnamien,AVG,new_index
14,female,group A,thanh hoa,master's degree,standard,...,16,62,12,30.00,314
3,male,group A,thanh hoa,associate's degree,free/reduced,...,10,25,48,27.67,639
994,male,group A,thanh hoa,high school,standard,...,97,93,44,78.00,367
731,male,group A,thanh hoa,some high school,free/reduced,...,4,24,2,10.00,356
62,male,group A,thanh hoa,associate's degree,free/reduced,...,76,62,3,47.00,363
...,...,...,...,...,...,...,...,...,...,...,...
56,female,group E,thanh hoa,associate's degree,standard,...,62,22,31,38.33,391
909,male,group E,thanh hoa,bachelor's degree,standard,...,61,80,50,63.67,738
503,female,group E,thanh hoa,associate's degree,standard,...,82,44,59,61.67,235
538,male,group E,thanh hoa,bachelor's degree,standard,...,95,64,23,60.67,916
79,female,group E,thanh hoa,master's degree,standard,...,36,39,10,28.33,862

In [ ]:
example3.set_index('new_index')
example3 = example3.set_index('new_index')

In [203]:
example3 =example3.sort_index(ascending = True)

In [205]:
example3 = example3.rename(index = {0 : 'english' , 1 : 'franÃ§ais'})

In [206]:
example3

,Gender,race/ethnicity,que quan,parental level of education,lunch,...,writing score,english,franÃ§ais,vietnamien,AVG
new_index,,,,,,,,,,,
english,male,group D,thanh hoa,some high school,free/reduced,...,52,99,81,40,73.33
franÃ§ais,female,group B,thanh hoa,some high school,standard,...,74,59,3,54,38.67
2,male,group A,thanh hoa,high school,standard,...,66,83,50,21,51.33
3,female,group B,thanh hoa,bachelor's degree,free/reduced,...,76,65,98,6,56.33
4,female,group E,thanh hoa,associate's degree,standard,...,69,75,56,49,60.00
...,...,...,...,...,...,...,...,...,...,...,...
995,male,group B,thanh hoa,high school,standard,...,51,44,99,99,80.67
996,male,group C,thanh hoa,master's degree,free/reduced,...,50,87,18,63,56.00
997,male,group B,thanh hoa,associate's degree,standard,...,45,40,0,42,27.33
998,female,group B,thanh hoa,bachelor's degree,free/reduced,...,87,81,47,92,73.33
999,male,group E,thanh hoa,some high school,free/reduced,...,59,98,47,93,79.33