In [1]:
import pandas as pd

# 1 read csv from url

In [2]:
# reading 1 csv file from the website
df_premierleauge = pd.read_csv('https://www.football-data.co.uk/mmz4281/2526/E0.csv')

Target website: https://www.football-data.co.uk/data.php

In [3]:
# showing dataframe
df_premierleauge

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.05,1.80,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.83,2.03,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.95,1.90,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.98,1.88,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,E0,07/01/2026,19:30,Fulham,Chelsea,2,1,H,0,0,...,1.83,2.03,1.84,2.10,1.83,2.03,1.78,1.96,1.93,2.06
206,E0,07/01/2026,19:30,Man City,Brighton,1,1,D,1,0,...,1.80,2.05,1.87,2.06,1.83,2.12,1.75,2.05,1.91,2.08
207,E0,07/01/2026,20:15,Burnley,Man United,2,2,D,1,0,...,1.93,1.93,1.95,1.97,1.93,1.93,1.88,1.89,2.02,1.97
208,E0,07/01/2026,20:15,Newcastle,Leeds,4,3,H,1,2,...,1.75,2.05,1.84,2.10,1.78,2.05,1.74,2.04,1.86,2.14
209,E0,08/01/2026,20:00,Arsenal,Liverpool,0,0,D,0,0,...,2.00,1.85,2.05,1.88,2.00,1.94,1.93,1.85,2.06,1.93

In [4]:
# rename columns
df_premierleauge.rename(columns={'FTHG': 'home goal',
                                 'FTAG':'away goal'}, inplace=True)

In [5]:
# show dataframe
df_premierleauge

,Div,Date,Time,HomeTeam,AwayTeam,home goal,away goal,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.05,1.80,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.83,2.03,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.95,1.90,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.98,1.88,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,E0,07/01/2026,19:30,Fulham,Chelsea,2,1,H,0,0,...,1.83,2.03,1.84,2.10,1.83,2.03,1.78,1.96,1.93,2.06
206,E0,07/01/2026,19:30,Man City,Brighton,1,1,D,1,0,...,1.80,2.05,1.87,2.06,1.83,2.12,1.75,2.05,1.91,2.08
207,E0,07/01/2026,20:15,Burnley,Man United,2,2,D,1,0,...,1.93,1.93,1.95,1.97,1.93,1.93,1.88,1.89,2.02,1.97
208,E0,07/01/2026,20:15,Newcastle,Leeds,4,3,H,1,2,...,1.75,2.05,1.84,2.10,1.78,2.05,1.74,2.04,1.86,2.14
209,E0,08/01/2026,20:00,Arsenal,Liverpool,0,0,D,0,0,...,2.00,1.85,2.05,1.88,2.00,1.94,1.93,1.85,2.06,1.93

# 2 read csv from multiple url

In [ ]:
https://github.com/haidangfps-lgtm/python-for_data

### 2.1 multiple league



https://www.football-data.co.uk/mmz4281/2526/E0.csv

https://www.football-data.co.uk/mmz4281/2526/E1.csv

https://www.football-data.co.uk/mmz4281/2526/E2.csv

https://www.football-data.co.uk/mmz4281/2526/E3.csv

https://www.football-data.co.uk/mmz4281/2526/EC.csv

Link: root + season + league

In [6]:
# root = https://www.football-data.co.uk/mmz4281/
# season = 2526
# league = E0

In [7]:
#create root
root = 'https://www.football-data.co.uk/mmz4281/'

In [8]:
# creating list of leagues
leagues = ['E0', 'E2', 'E3']

In [9]:
# looping through leagues, read multiple csv and append it into a list
multiple_leauges = []
for i in leagues:
    df = pd.read_csv(root + '2526' + '/' + i + '.csv')
    multiple_leauges.append(df)

In [10]:
# length of frames
len(multiple_leauges)

3



select index EC

In [11]:
multiple_leauges[-1]

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E3,02/08/2025,15:00,Accrington,Gillingham,1,1,D,0,0,...,1.98,1.88,1.76,2.12,1.98,1.88,1.92,1.83,2.09,1.88
1,E3,02/08/2025,15:00,Barnet,Fleetwood Town,0,2,A,0,1,...,2.00,1.85,2.29,1.65,2.08,1.85,2.00,1.74,2.04,1.93
2,E3,02/08/2025,15:00,Bristol Rvs,Harrogate,0,1,A,0,0,...,1.83,2.03,1.85,2.00,1.85,2.03,1.78,1.96,1.88,2.12
3,E3,02/08/2025,15:00,Cambridge,Cheltenham,1,0,H,0,0,...,1.98,1.88,1.88,1.97,1.98,1.88,1.90,1.83,1.98,2.00
4,E3,02/08/2025,15:00,Chesterfield,Barrow,1,0,H,1,0,...,1.78,2.03,1.79,2.06,1.80,2.07,1.73,2.02,1.87,2.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,E3,01/01/2026,15:00,Oldham,Chesterfield,1,1,D,0,1,...,1.93,1.93,NaN,NaN,1.96,1.93,1.90,1.80,2.01,1.95
286,E3,01/01/2026,15:00,Shrewsbury,Bristol Rvs,0,3,A,0,0,...,1.88,1.98,NaN,NaN,1.88,1.98,1.83,1.91,1.91,2.05
287,E3,01/01/2026,15:00,Swindon,Gillingham,2,0,H,0,0,...,1.85,2.00,NaN,NaN,1.85,2.00,1.77,1.94,1.91,2.05
288,E3,04/01/2026,12:00,Cheltenham,Crawley Town,3,0,H,0,0,...,2.03,1.83,NaN,NaN,2.03,1.83,1.95,1.79,2.09,1.90
289,E3,04/01/2026,12:00,Milton Keynes Dons,Chesterfield,2,2,D,2,0,...,1.83,2.03,NaN,NaN,1.85,2.03,1.78,1.93,1.89,2.11

### 2.2 multiple seasons

In [12]:
#create one more loop inside multiple leauge to create the new multiple seasons
#range 2018 - 2026
multiple_leauges = []
for i in leagues:
    for j in range(20,26):
        df = pd.read_csv(root + str(j) + str(j+1) + '/' + i + '.csv')
        df.insert(1, 'j', j)
        multiple_leauges.append(df)

In [13]:
len(multiple_leauges)

18

In [14]:
multiple_leauges[7]

,Div,j,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E2,21,07/08/2021,15:00,Bolton,Milton Keynes Dons,3,3,D,1,...,1.97,-0.25,1.90,1.95,1.91,1.97,1.99,2.01,1.90,1.92
1,E2,21,07/08/2021,15:00,Cambridge,Oxford,1,1,D,0,...,1.86,0.25,2.08,1.73,2.12,1.78,2.12,1.82,2.06,1.77
2,E2,21,07/08/2021,15:00,Crewe,Cheltenham,1,1,D,1,...,1.69,-0.25,2.00,1.85,1.99,1.90,2.04,1.95,1.96,1.87
3,E2,21,07/08/2021,15:00,Doncaster,AFC Wimbledon,1,2,A,0,...,1.88,-0.25,2.10,1.77,2.11,1.80,2.12,1.82,2.07,1.77
4,E2,21,07/08/2021,15:00,Fleetwood Town,Portsmouth,0,1,A,0,...,1.60,0.00,2.05,1.80,2.09,1.82,2.13,1.86,2.07,1.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E2,21,30/04/2022,12:30,Morecambe,Sunderland,0,1,A,0,...,2.09,0.75,2.05,1.80,2.05,1.84,2.09,1.86,2.02,1.81
548,E2,21,30/04/2022,12:30,Oxford,Doncaster,1,1,D,1,...,3.05,-1.50,1.90,1.95,1.96,1.93,2.00,1.99,1.92,1.88
549,E2,21,30/04/2022,12:30,Plymouth,Milton Keynes Dons,0,5,A,0,...,1.94,0.25,1.83,2.02,1.81,2.09,1.88,2.09,1.81,2.02
550,E2,21,30/04/2022,12:30,Sheffield Weds,Portsmouth,4,1,H,3,...,2.04,-1.00,1.73,2.15,1.76,2.14,1.90,2.21,1.77,2.07
551,E2,21,30/04/2022,12:30,Shrewsbury,Wigan,0,3,A,0,...,1.73,0.50,1.95,1.90,1.97,1.92,2.02,1.94,1.94,1.87

# 3 organize data in a dictionary (key, value)

In [15]:
# create a dictionary with original name of league as key
dict_countries = {
    'Spanish La Liga': 'SP1',
    'Spanish Segunda Division': 'SP2',
    'German Bundesliga': 'D1',
    'English Premier League': 'E0',
    'English League 1': 'E2',
    'English League 2': 'E3',
}

In [16]:
dictionary_data = {}

for i in dict_countries:
    multiple_leauges = []
    for j in range(20,26):
        df = pd.read_csv(root + str(j) + str(j+1) + '/' + dict_countries[i] + '.csv')
        df.insert(1, 'j', j)
        multiple_leauges.append(df)
    df_data = pd.concat(multiple_leauges)
    dictionary_data[i] = df_data

In [18]:
dictionary_data['German Bundesliga']

,Div,j,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,BMGMCA,BVCH,BVCD,BVCA,CLCH,CLCD,CLCA,LBCH,LBCD,LBCA
0,D1,20,18/09/2020,19:30,Bayern Munich,Schalke 04,8,0,H,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,D1,20,19/09/2020,14:30,Ein Frankfurt,Bielefeld,1,1,D,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,D1,20,19/09/2020,14:30,FC Koln,Hoffenheim,2,3,A,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,D1,20,19/09/2020,14:30,Stuttgart,Freiburg,2,3,A,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,D1,20,19/09/2020,14:30,Union Berlin,Augsburg,1,3,A,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,D1,25,20/12/2025,14:30,Stuttgart,Hoffenheim,0,0,D,0.0,...,3.50,1.95,3.9,3.40,1.95,3.9,3.4,1.95,3.9,3.4
131,D1,25,20/12/2025,14:30,Wolfsburg,Freiburg,3,4,A,1.0,...,2.85,2.38,3.4,2.88,2.40,3.4,2.8,2.40,3.4,2.8
132,D1,25,20/12/2025,17:30,RB Leipzig,Leverkusen,1,3,A,1.0,...,3.25,2.05,3.9,3.10,2.05,3.9,3.2,2.05,3.8,3.2
133,D1,25,21/12/2025,14:30,Mainz,St Pauli,0,0,D,0.0,...,4.10,1.95,3.3,4.00,2.00,3.3,4.0,1.95,3.3,3.9
134,D1,25,21/12/2025,16:30,Heidenheim,Bayern Munich,0,4,A,0.0,...,1.15,13.00,8.0,1.15,11.00,8.0,1.2,11.00,8.0,1.2