In [4]:
import pandas as pd

In [2]:

# reads csv file
df = pd.read_csv('players_20.csv')
# set index
df.set_index('short_name', inplace=True)
# select column
df = df[['long_name', 'age', 'dob', 'height_cm', 'weight_kg', 'nationality', 'club']]

# Set value to one cell

In [7]:
# update L. Messi height
df.loc['L. Messi', 'height_cm'] = 180

In [10]:
# show dataframe
df.head(1)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,180,72,Argentina,FC Barcelona

# Set value to entire column

In [12]:
# set height of all players to 190
df.loc[:, 'height_cm'] = 190

In [13]:
# show dataframe
df.head(3)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,190,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,190,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,190,68,Brazil,Paris Saint-Germain

# Set value to entire row

In [14]:
# get all columns that correspond to player ranked last in fifa
df.iloc[-1]

long_name                         潘喜明
age                                26
dob                        1993-01-11
height_cm                         190
weight_kg                          78
nationality                  China PR
club           Hebei China Fortune FC
Name: Pan Ximing, dtype: object

In [17]:
# set null values to all columns that corresponds to  player ranked last in fifa
import numpy as np
df.iloc[-1, :] = np.nan

In [19]:
# show dataframe
df.tail(1)

           long_name  age  dob  height_cm  weight_kg nationality club
short_name
Pan Ximing       NaN  NaN  NaN        NaN        NaN         NaN  NaN

# Set value to Multiple cells

In [28]:
# Set value for all items matching the list of labels
df.loc[['L. Messi', 'Pan Ximing'], ['height_cm']] = 165

In [31]:
df.tail()

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
Shao Shuai,邵帅,22.0,1997-03-10,190.0,79.0,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22.0,1997-01-01,190.0,66.0,China PR,Shanghai SIPG FC
Zhang Wei,张威,19.0,2000-05-16,190.0,75.0,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18.0,2000-08-02,190.0,74.0,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,NaN,NaN,NaN,165.0,NaN,NaN,NaN

# Set value for rows matching a condition

In [36]:
# set value for rows matching a condition
list = ['age','dob','height_cm','weight_kg','nationality']
df.loc[df['height_cm'] > 180, list] = 170

In [37]:
df

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32.0,1987-06-24,165.0,72.0,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,170.0,170,170.0,170.0,170,Juventus
Neymar Jr,Neymar da Silva Santos Junior,170.0,170,170.0,170.0,170,Paris Saint-Germain
J. Oblak,Jan Oblak,170.0,170,170.0,170.0,170,Atlético Madrid
E. Hazard,Eden Hazard,170.0,170,170.0,170.0,170,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,170.0,170,170.0,170.0,170,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,170.0,170,170.0,170.0,170,Shanghai SIPG FC
Zhang Wei,张威,170.0,170,170.0,170.0,170,Hebei China Fortune FC
Wang Haijian,汪海健,170.0,170,170.0,170.0,170,Shanghai Greenland Shenhua FC
Pan Ximing,NaN,NaN,NaN,165.0,NaN,NaN,NaN