In [1]:
from operator import index

import pandas as pd
from sqlalchemy import true

df = pd.read_csv('players_20.csv')
# set index
df.set_index('short_name', inplace=True)
# select column
df = df[['long_name', 'age', 'dob', 'height_cm', 'weight_kg', 'nationality', 'club']]

In [2]:
df

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC
Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC

# Drop Row

In [6]:
# drop one row
# axis parameter
df.drop('J. Oblak', axis=0, inplace=True)

In [21]:
# index parameter
df.drop(index= ['Shao Shuai'], inplace=True)

In [24]:
# drop two or more rows and update data (inplace=True)
df.drop(['Cristiano Ronaldo', 'L. Messi'], axis = 0, inplace=True)

# Drop Columns

In [29]:
# drop one column
# axis parameter
df.drop('age', axis=1)

,dob,height_cm,weight_kg,nationality,club
short_name,,,,,
Neymar Jr,1992-02-05,175,68,Brazil,Paris Saint-Germain
E. Hazard,1991-01-07,175,74,Belgium,Real Madrid
K. De Bruyne,1991-06-28,181,70,Belgium,Manchester City
M. ter Stegen,1992-04-30,187,85,Germany,FC Barcelona
V. van Dijk,1991-07-08,193,92,Netherlands,Liverpool
...,...,...,...,...,...
P. Martin,1999-01-05,188,84,Republic of Ireland,Waterford FC
Xiao Mingjie,1997-01-01,177,66,China PR,Shanghai SIPG FC
Zhang Wei,2000-05-16,186,75,China PR,Hebei China Fortune FC
Wang Haijian,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,1993-01-11,182,78,China PR,Hebei China Fortune FC

In [31]:
# index parameter
df.drop(columns = 'dob')

,age,height_cm,weight_kg,nationality,club
short_name,,,,,
Neymar Jr,27,175,68,Brazil,Paris Saint-Germain
E. Hazard,28,175,74,Belgium,Real Madrid
K. De Bruyne,28,181,70,Belgium,Manchester City
M. ter Stegen,27,187,85,Germany,FC Barcelona
V. van Dijk,27,193,92,Netherlands,Liverpool
...,...,...,...,...,...
P. Martin,20,188,84,Republic of Ireland,Waterford FC
Xiao Mingjie,22,177,66,China PR,Shanghai SIPG FC
Zhang Wei,19,186,75,China PR,Hebei China Fortune FC
Wang Haijian,18,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,26,182,78,China PR,Hebei China Fortune FC

In [41]:
# drop column by position/index (drop last column)
df.drop(df.columns[-1], axis = 1)

               age         dob  height_cm  weight_kg          nationality
short_name
Neymar Jr       27  1992-02-05        175         68               Brazil
E. Hazard       28  1991-01-07        175         74              Belgium
K. De Bruyne    28  1991-06-28        181         70              Belgium
M. ter Stegen   27  1992-04-30        187         85              Germany
V. van Dijk     27  1991-07-08        193         92          Netherlands
...            ...         ...        ...        ...                  ...
P. Martin       20  1999-01-05        188         84  Republic of Ireland
Xiao Mingjie    22  1997-01-01        177         66             China PR
Zhang Wei       19  2000-05-16        186         75             China PR
Wang Haijian    18  2000-08-02        185         74             China PR
Pan Ximing      26  1993-01-11        182         78             China PR

[18274 rows x 5 columns]

In [43]:
# drop two or more columns and update data (inplace=True)
df.drop(['age', 'dob', 'nationality'], axis = 1, inplace = True)

In [44]:
df

               height_cm  weight_kg                           club
short_name
Neymar Jr            175         68            Paris Saint-Germain
E. Hazard            175         74                    Real Madrid
K. De Bruyne         181         70                Manchester City
M. ter Stegen        187         85                   FC Barcelona
V. van Dijk          193         92                      Liverpool
...                  ...        ...                            ...
P. Martin            188         84                   Waterford FC
Xiao Mingjie         177         66               Shanghai SIPG FC
Zhang Wei            186         75         Hebei China Fortune FC
Wang Haijian         185         74  Shanghai Greenland Shenhua FC
Pan Ximing           182         78         Hebei China Fortune FC

[18274 rows x 3 columns]