In [1]:
import pandas as pd

In [2]:
# reads csv file
df = pd.read_csv('players_20.csv')
# set index
df.set_index('short_name', inplace=True)
# select column
df = df[['long_name', 'age', 'dob', 'height_cm', 'weight_kg', 'nationality', 'club']]

# copy()

## deep = True

In [41]:
# deep=True by default (Modifications to the data or indices of the copy will not be reflected in the original object )
df_copy = df.copy()

In [45]:
# update value in original dataframe
df.loc['L. Messi' , 'age'] = 30

In [48]:
df.head(1)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,30,1987-06-24,170,72,Argentina,FC Barcelona

In [50]:
df_copy.head(1)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,35,1987-06-24,170,72,Argentina,FC Barcelona

## deep = False

In [51]:
# deep=False (Any changes to the data of the original will be reflected in the shallow copy and vice versa)
df_copy1 = df.copy(deep = False)

In [53]:
# update value in original dataframe
df.loc['L. Messi','height_cm'] = 180

In [55]:
# shallow copy vs original dataframe
df.head(1)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,30,1987-06-24,180,72,Argentina,FC Barcelona

In [56]:
df_copy1.head(1)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,30,1987-06-24,180,72,Argentina,FC Barcelona

## Simple  assignment

In [57]:
# make a copy
df_copy2 = df

In [58]:
# update value in original dataframe
df.loc['L. Messi','height_cm'] = 165

In [62]:
# copy vs original dataframe
df_copy2.head(1)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,30,1987-06-24,165,72,Argentina,FC Barcelona

In [61]:
df.head(1)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,30,1987-06-24,165,72,Argentina,FC Barcelona