In [21]:
#  read csv file
import pandas as pd

In [32]:
df_test = pd.read_csv('players_20.csv')

In [33]:
df_test.set_index('short_name')

,sofifa_id,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
short_name,,,,,,,,,,,,,,,,,,,,,
L. Messi,158023,https://sofifa.com/player/158023/lionel-messi/...,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,94,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
Cristiano Ronaldo,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,93,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
Neymar Jr,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,92,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
J. Oblak,200389,https://sofifa.com/player/200389/jan-oblak/20/...,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
E. Hazard,183277,https://sofifa.com/player/183277/eden-hazard/2...,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,91,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Shao Shuai,245006,https://sofifa.com/player/245006/shuai-shao/20...,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC,48,...,43+2,42+2,42+2,42+2,43+2,45+2,46+2,46+2,46+2,45+2
Xiao Mingjie,250995,https://sofifa.com/player/250995/mingjie-xiao/...,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC,48,...,44+2,43+2,43+2,43+2,44+2,46+2,47+2,47+2,47+2,46+2
Zhang Wei,252332,https://sofifa.com/player/252332/wei-zhang/20/...,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC,48,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
Wang Haijian,251110,https://sofifa.com/player/251110/haijian-wang/...,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC,48,...,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
Pan Ximing,233449,https://sofifa.com/player/233449/ximing-pan/20...,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC,48,...,48+2,49+2,49+2,49+2,48+2,48+2,50+2,50+2,50+2,48+2

In [34]:
df_test = df_test.set_index('short_name')

In [35]:
df_test[['long_name', 'age', 'dob', 'height_cm', 'weight_kg', 'nationality', 'club']]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC
Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC

In [36]:
df_test = df_test[['long_name', 'age', 'dob', 'height_cm', 'weight_kg', 'nationality', 'club']]

# selecting with single value

In [42]:
# get all data about L.Messi
df_test.loc['L. Messi']

long_name      Lionel Andrés Messi Cuccittini
age                                        32
dob                                1987-06-24
height_cm                                 170
weight_kg                                  72
nationality                         Argentina
club                             FC Barcelona
Name: L. Messi, dtype: object

In [44]:
# get the height of L.Messi
df_test.loc['L. Messi', 'height_cm']

np.int64(170)

In [45]:
# get the weight of Cristiano Ronaldo
df_test.loc['Cristiano Ronaldo', 'weight_kg']

np.int64(83)

In [46]:
# get all rows inside the 'height_cm' column
df_test.loc[:, 'height_cm']

short_name
L. Messi             170
Cristiano Ronaldo    187
Neymar Jr            175
J. Oblak             188
E. Hazard            175
                    ...
Shao Shuai           186
Xiao Mingjie         177
Zhang Wei            186
Wang Haijian         185
Pan Ximing           182
Name: height_cm, Length: 18278, dtype: int64

In [47]:
# get all columns that correspond to the index 'L. Messi'
df_test.loc['L. Messi', :]

long_name      Lionel Andrés Messi Cuccittini
age                                        32
dob                                1987-06-24
height_cm                                 170
weight_kg                                  72
nationality                         Argentina
club                             FC Barcelona
Name: L. Messi, dtype: object

# select with a list of values

In [48]:
# get all data about L.Messi and Cristiano Ronaldo
df_test.loc[['L. Messi', 'Cristiano Ronaldo'], :]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus

In [49]:
# get the height of L.Messi and Cristiano Ronaldo
df_test.loc[['L. Messi', 'Cristiano Ronaldo'] , 'height_cm']

short_name
L. Messi             170
Cristiano Ronaldo    187
Name: height_cm, dtype: int64

In [50]:
# get the height and weight of L.Messi
df_test.loc[['L. Messi'], ['weight_kg','height_cm']]

            weight_kg  height_cm
short_name
L. Messi           72        170

In [51]:
# get height and weight of L.Messi and Cristiano Ronaldo
df_test.loc[['L. Messi', 'Cristiano Ronaldo'] , ['weight_kg','height_cm']]

                   weight_kg  height_cm
short_name
L. Messi                  72        170
Cristiano Ronaldo         83        187

# selecting a range of data with slice

In [53]:
# slice column labels
player = ['L. Messi', 'Cristiano Ronaldo']
df_test.loc[player, 'long_name':'club']

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus

In [54]:
# slice index labels
df_test.index[:10]

Index(['L. Messi', 'Cristiano Ronaldo', 'Neymar Jr', 'J. Oblak', 'E. Hazard',
       'K. De Bruyne', 'M. ter Stegen', 'V. van Dijk', 'L. Modrić',
       'M. Salah'],
      dtype='object', name='short_name')

In [59]:
df_test.loc['L. Messi':'M. Salah', :]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
K. De Bruyne,Kevin De Bruyne,28,1991-06-28,181,70,Belgium,Manchester City
M. ter Stegen,Marc-André ter Stegen,27,1992-04-30,187,85,Germany,FC Barcelona
V. van Dijk,Virgil van Dijk,27,1991-07-08,193,92,Netherlands,Liverpool
L. Modrić,Luka Modrić,33,1985-09-09,172,66,Croatia,Real Madrid
M. Salah,Mohamed Salah Ghaly,27,1992-06-15,175,71,Egypt,Liverpool

# select with conditions

In [60]:
df_test['height_cm'] > 180

short_name
L. Messi             False
Cristiano Ronaldo     True
Neymar Jr            False
J. Oblak              True
E. Hazard            False
                     ...
Shao Shuai            True
Xiao Mingjie         False
Zhang Wei             True
Wang Haijian          True
Pan Ximing            True
Name: height_cm, Length: 18278, dtype: bool

In [61]:
# one condition: select player with height above 180cm
df_test.loc[df_test['height_cm'] > 180, 'long_name']

short_name
Cristiano Ronaldo    Cristiano Ronaldo dos Santos Aveiro
J. Oblak                                       Jan Oblak
K. De Bruyne                             Kevin De Bruyne
M. ter Stegen                      Marc-André ter Stegen
V. van Dijk                              Virgil van Dijk
                                    ...
P. Martin                                    Paul Martin
Shao Shuai                                            邵帅
Zhang Wei                                             张威
Wang Haijian                                         汪海健
Pan Ximing                                           潘喜明
Name: long_name, Length: 9744, dtype: object

In [75]:
# multiple conditions: select player with height above 180cm from Argentina
df_test.loc[(df_test['height_cm'] > 180) & (df_test['nationality'] == 'Portugal')]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
A. Lopes,Anthony Lopes,28,1990-10-01,184,81,Portugal,Olympique Lyonnais
João Cancelo,João Pedro Cavaco Cancelo,25,1994-05-27,182,74,Portugal,Manchester City
Pepe,Képler Laveran Lima Ferreira,36,1983-02-26,188,81,Portugal,FC Porto
William Carvalho,William Silva de Carvalho,27,1992-04-07,187,83,Portugal,Real Betis
...,...,...,...,...,...,...,...
João Pereira,João Duarte Vieira Pereira,29,1990-05-10,183,79,Portugal,SønderjyskE
Rúben Fonseca,Rúben Miguel Valente Fonseca,19,2000-02-24,188,82,Portugal,CD Tondela
Filipe Ferreira,Filipe Ferreira Marques,21,1998-02-25,186,73,Portugal,CF Fuenlabrada
Wilson Carvalho,Wilson Roberto Bento De Carvalho,25,1993-07-04,183,77,Portugal,Accrington Stanley
Alexandre Pimenta,A. Pimenta Flora Pimenta,20,1999-03-02,184,75,Portugal,Venezia FC