In [1]:
import pandas as pd

In [2]:
# reads csv file
df = pd.read_csv('players_20.csv')
# set index
df.set_index('short_name', inplace=True)
# select column
df = df[['long_name', 'age', 'dob', 'height_cm', 'weight_kg', 'nationality', 'club']]

# sample()

In [11]:
# extract 10 random elements from the "nationality" column
df['nationality'].sample(10, random_state = 35)

short_name
C. Ninga             Chad
C. Vargas          Mexico
D. Hernández       Mexico
F. Ranocchia        Italy
C. Villalba     Argentina
J. Vagnoman       Germany
B. Espinosa      Colombia
M. Sepúlveda        Chile
P. Wiegers        Germany
Eraso               Spain
Name: nationality, dtype: object

In [19]:
# extract a random 20% sample of the dataframe
df.sample(frac = 0.2, random_state = 35)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
C. Ninga,Casimir Ninga,26,1993-05-17,186,81,Chad,Angers SCO
C. Vargas,Carlos Alonso Vargas Tenorio,20,1999-02-14,176,76,Mexico,Club América
D. Hernández,Diego Hernández,19,1999-08-13,177,77,Mexico,Atlético de San Luis
F. Ranocchia,Filippo Ranocchia,18,2001-05-14,184,76,Italy,Perugia
C. Villalba,Carlos Villalba,20,1998-07-19,175,71,Argentina,Club Atlético Talleres
...,...,...,...,...,...,...,...
Seo Myeong Won,서명원 徐明原,24,1995-04-19,180,77,Korea Republic,Gangwon FC
B. Badibanga,Beni Badibanga,23,1996-02-19,176,71,Belgium,Waasland-Beveren
C. Gentner,Christian Gentner,33,1985-08-14,189,81,Germany,1. FC Union Berlin
K. Iwatake,岩武 克弥,23,1996-06-04,173,70,Japan,Urawa Red Diamonds
M. Al Ghamdi,Majed Al Ghamdi,20,1999-04-07,183,70,Saudi Arabia,Al Hazem

In [21]:
# upsample: increase the sampling rate -> frac>1  (Note: replace parameter has to be True for frac parameter > 1)
df.sample(frac = 2, replace = True)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Paredes,Leandro Paredes,25,1994-06-29,180,75,Argentina,Paris Saint-Germain
J. Dasilva,Josh Dasilva,20,1998-10-23,185,75,England,Brentford
L. Ingolotti,Luis Ignacio Ingolotti,19,2000-01-14,180,78,Argentina,Club Atlético Aldosivi
M. Al Qahtani,Mishari Al Qahtani,22,1997-04-04,176,64,Saudi Arabia,Al Wehda
Samuel,Samuel Rosa Gonçalves,28,1991-02-25,185,83,Brazil,Jeonbuk Hyundai Motors
...,...,...,...,...,...,...,...
A. Poulsen,Andreas Poulsen,19,1999-10-13,188,80,Denmark,Borussia Mönchengladbach
O. Niasse,El-Hadji Baye Oumar Niasse,29,1990-04-18,182,82,Senegal,Everton
D. Rouyard,Davy Rouyard,19,1999-08-17,190,74,France,FC Girondins de Bordeaux
K. Hyland,Khaleem Hyland,30,1989-06-05,183,80,Trinidad & Tobago,Al Faisaly
M. Ezzarfani,Mohamed Ezzarfani,21,1997-11-15,176,70,Morocco,RCD Espanyol