In [44]:
import pandas as pd
df_laptop = pd.read_csv('laptop_price.csv', encoding='Latin1')

# drop duplicates

In [19]:
# drop duplicates in 2 or more columns
df_laptop.drop_duplicates(['Company'])[['Company', 'Price_euros']]

       Company  Price_euros
0        Apple      1339.69
2           HP       575.00
5         Acer       400.00
8         Asus      1495.00
13        Dell       498.90
18      Lenovo       499.00
30       Chuwi       244.99
58         MSI      2449.00
70   Microsoft      1089.00
143    Toshiba       602.00
170     Huawei      1349.00
184     Xiaomi      1199.00
191       Vero       260.00
196      Razer      6099.00
429   Mediacom       299.00
430    Samsung       269.00
437     Google      2199.00
567    Fujitsu       739.00
678         LG      2299.00

In [27]:
# sort dataframe asending by company and price
# cheapest first and most expensive last
df_laptop = df_laptop.sort_values(['Company', 'Price_euros'])

In [29]:
# cheapest: keep='first'
df_laptop.drop_duplicates(['Company'], keep = 'first')[['Company', 'Price_euros']]

        Company  Price_euros
1215       Acer       174.00
1         Apple       898.94
20         Asus       191.90
30        Chuwi       244.99
340        Dell       274.90
983     Fujitsu       649.00
472      Google      1275.00
1268         HP       209.00
170      Huawei      1349.00
909          LG      1899.00
1272     Lenovo       229.00
1169        MSI       839.00
626    Mediacom       239.00
457   Microsoft       989.00
1117      Razer      1029.00
430     Samsung       269.00
159     Toshiba       447.00
1120       Vero       196.00
877      Xiaomi       935.00

In [30]:
# most expensive: keep='last'
df_laptop.drop_duplicates(['Company'], keep = 'last')[['Company', 'Price_euros']]

        Company  Price_euros
1189       Acer      2599.00
17        Apple      2858.00
1066       Asus      3975.00
421       Chuwi       449.00
723        Dell      3659.40
623     Fujitsu       799.00
437      Google      2199.00
749          HP      4389.00
214      Huawei      1499.00
678          LG      2299.00
610      Lenovo      4899.00
177         MSI      2799.00
580    Mediacom       389.00
449   Microsoft      2589.00
196       Razer      6099.00
874     Samsung      1849.00
491     Toshiba      2799.00
191        Vero       260.00
514      Xiaomi      1399.95

In [38]:
# Argument
# inplace: drop duplicates in place or to return a copy.
# ignore_index=True: the resulting axis will be labeled 0, 1, â€¦

df_laptop.drop_duplicates(['Company'], keep = 'first', inplace=True, ignore_index=True)

In [39]:
df_laptop

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1233,Acer,C740-C9QX (3205U/2GB/32GB/Chrome,Netbook,11.6,1366x768,Intel Celeron Dual Core 3205U 1.5GHz,2GB,32GB SSD,Intel HD Graphics,Chrome OS,1.3kg,174.00
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,21,Asus,Vivobook E200HA,Netbook,11.6,1366x768,Intel Atom x5-Z8350 1.44GHz,2GB,32GB Flash Storage,Intel HD Graphics 400,Windows 10,0.98kg,191.90
3,31,Chuwi,"LapBook 15.6""",Notebook,15.6,Full HD 1920x1080,Intel Atom x5-Z8300 1.44GHz,4GB,64GB Flash Storage,Intel HD Graphics,Windows 10,1.89kg,244.99
4,346,Dell,Inspiron 3552,Notebook,15.6,1366x768,Intel Celeron Dual Core N3060 1.6GHz,4GB,500GB HDD,Intel HD Graphics,Linux,2.2kg,274.90
5,997,Fujitsu,LifeBook A556,Notebook,15.6,1366x768,Intel Core i5 6200U 2.3GHz,4GB,256GB SSD,Intel HD Graphics 520,Windows 10,2.3kg,649.00
6,479,Google,Pixelbook (Core,Ultrabook,12.3,Touchscreen 2400x1600,Intel Core i5 7Y57 1.2GHz,8GB,128GB SSD,Intel HD Graphics 615,Chrome OS,1.1kg,1275.00
7,1286,HP,Stream 11-Y000na,Netbook,11.6,1366x768,Intel Celeron Dual Core N3060 1.6GHz,2GB,32GB Flash Storage,Intel HD Graphics 400,Windows 10,1.17kg,209.00
8,174,Huawei,MateBook X,Ultrabook,13.0,IPS Panel Full HD 2160x1440,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,1.05kg,1349.00
9,922,LG,Gram 14Z970,Ultrabook,14.0,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i7 7500U 2.7GHz,8GB,512GB SSD,Intel HD Graphics 620,Windows 10,0.98kg,1899.00
10,1290,Lenovo,IdeaPad 100S-14IBR,Notebook,14.0,1366x768,Intel Celeron Dual Core N3050 1.6GHz,2GB,64GB Flash Storage,Intel HD Graphics,Windows 10,1.5kg,229.00
11,1187,MSI,PL60 7RD,Gaming,15.6,IPS Panel Full HD 1920x1080,Intel Core i7 7500U 2.7GHz,8GB,1TB HDD,Nvidia GeForce GTX 1050,Windows 10,2.2kg,839.00
12,633,Mediacom,SmartBook 140,Notebook,14.0,Full HD 1920x1080,Intel Atom x5-Z8350 1.44GHz,2GB,32GB Flash Storage,Intel HD Graphics,Windows 10,1.4kg,239.00
13,464,Microsoft,Surface Laptop,Ultrabook,13.5,Touchscreen 2256x1504,Intel Core M m3-7Y30 2.2GHz,4GB,128GB SSD,Intel HD Graphics 615,Windows 10 S,1.252kg,989.00
14,1132,Razer,Blade Stealth,Ultrabook,12.5,Touchscreen / 4K Ultra HD 3840x2160,Intel Core i7 6500U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 520,Windows 10,1.25kg,1029.00
15,437,Samsung,Chromebook 3,Netbook,11.6,1366x768,Intel Celeron Dual Core N3060 1.6GHz,4GB,16GB Flash Storage,Intel HD Graphics 400,Chrome OS,1.15kg,269.00
16,163,Toshiba,Satellite Pro,Notebook,15.6,1366x768,Intel Core i3 6006U 2.2GHz,4GB,500GB HDD,Intel HD Graphics 520,Windows 10,2.1kg,447.00
17,1135,Vero,V131 (X5-Z8350/4GB/32GB/FHD/W10),Notebook,13.3,Full HD 1920x1080,Intel Atom X5-Z8350 1.44GHz,4GB,32GB Flash Storage,Intel HD Graphics 400,Windows 10,1.35kg,196.00
18,888,Xiaomi,Mi Notebook,Ultrabook,13.3,IPS Panel Full HD 1920x1080,Intel Core i5 6200U 2.3GHz,8GB,256GB SSD,Nvidia GeForce 940MX,Windows 10,1.28kg,935.00

In [41]:
df_laptop[['Company', 'Price_euros']]

      Company  Price_euros
0        Acer       174.00
1       Apple       898.94
2        Asus       191.90
3       Chuwi       244.99
4        Dell       274.90
5     Fujitsu       649.00
6      Google      1275.00
7          HP       209.00
8      Huawei      1349.00
9          LG      1899.00
10     Lenovo       229.00
11        MSI       839.00
12   Mediacom       239.00
13  Microsoft       989.00
14      Razer      1029.00
15    Samsung       269.00
16    Toshiba       447.00
17       Vero       196.00
18     Xiaomi       935.00

# Exercise 1

Task: Find the biggest and smallest screen size in laptops of each company using the sort_values()
and duplicated() methods (keep "first", "last" and False)

In [49]:
# sort dataframe asending by company and inches
# smallest first and biggest last
df_laptop = df_laptop.sort_values(['Company', 'Inches'])

In [58]:
# smallest: keep='first'
df_laptop.drop_duplicates(['Company'], keep = 'first', ignore_index = True)[['Company', 'Inches']]

      Company  Inches
0        Acer    11.6
1       Apple    11.6
2        Asus    11.6
3       Chuwi    12.3
4        Dell    11.6
5     Fujitsu    15.6
6      Google    12.3
7          HP    11.6
8      Huawei    13.0
9          LG    14.0
10     Lenovo    10.1
11        MSI    14.0
12   Mediacom    11.6
13  Microsoft    13.5
14      Razer    12.5
15    Samsung    11.6
16    Toshiba    12.5
17       Vero    13.3
18     Xiaomi    13.3

In [59]:
# biggest: keep='last'
df_laptop.drop_duplicates(['Company'], keep = 'last', ignore_index = True)[['Company', 'Inches']]

      Company  Inches
0        Acer    17.3
1       Apple    15.4
2        Asus    17.3
3       Chuwi    15.6
4        Dell    17.3
5     Fujitsu    15.6
6      Google    12.3
7          HP    17.3
8      Huawei    13.0
9          LG    15.6
10     Lenovo    17.3
11        MSI    18.4
12   Mediacom    14.0
13  Microsoft    13.5
14      Razer    17.3
15    Samsung    15.6
16    Toshiba    15.6
17       Vero    14.0
18     Xiaomi    15.6