In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("population_total.csv")

In [3]:
df

            country    year    population
0             China  2020.0  1.439324e+09
1             China  2019.0  1.433784e+09
2             China  2018.0  1.427648e+09
3             China  2017.0  1.421022e+09
4             China  2016.0  1.414049e+09
...             ...     ...           ...
4180  United States  1965.0  1.997337e+08
4181  United States  1960.0  1.867206e+08
4182  United States  1955.0  1.716853e+08
4183          India  1960.0  4.505477e+08
4184          India  1955.0  4.098806e+08

[4185 rows x 3 columns]

# Making a Pivot Table

In [6]:
# dropping null values
df.dropna(inplace=True)

In [18]:
# making a pivot table
df.pivot(columns='country', index='year', values='population')

KeyError: 'year'

In [20]:
# selecting some countries

df = df[['Vietnam','France','Canada','Brazil','China']]

In [21]:
# showing pivot table
df

country     Vietnam      France      Canada       Brazil         China
year
1955.0   28147443.0  43411367.0  15673763.0   62533919.0  6.122416e+08
1960.0   32670039.0  45673146.0  17847405.0   72179226.0  6.604081e+08
1965.0   37858951.0  48746652.0  19627980.0   83373530.0  7.242190e+08
1970.0   43404793.0  50763920.0  21374326.0   95113265.0  8.276014e+08
1975.0   48718189.0  52688576.0  23059265.0  107216205.0  9.262409e+08
1980.0   54281846.0  53868009.0  24416886.0  120694009.0  1.000089e+09
1985.0   60896721.0  55254848.0  25744810.0  135274080.0  1.075589e+09
1990.0   67988862.0  56666849.0  27541319.0  149003223.0  1.176884e+09
1995.0   74910461.0  57801892.0  29164152.0  162019896.0  1.240921e+09
2000.0   79910412.0  59015096.0  30588383.0  174790340.0  1.290551e+09
2005.0   83832661.0  61120127.0  32164309.0  186127103.0  1.330776e+09
2010.0   87967651.0  62879530.0  34147564.0  195713635.0  1.368811e+09
2015.0   92677076.0  64453200.0  36026676.0  204471769.0  1.406848e+09
2016.0   93640422.0  64667596.0  36382944.0  206163053.0  1.414049e+09
2017.0   94600648.0  64842509.0  36732095.0  207833823.0  1.421022e+09
2018.0   95545962.0  64990511.0  37074562.0  209469323.0  1.427648e+09
2019.0   96462106.0  65129728.0  37411047.0  211049527.0  1.433784e+09
2020.0   97338579.0  65273511.0  37742154.0  212559417.0  1.439324e+09