In [1]:
import pandas as pd

In [2]:
# reading csv file
df_cars = pd.read_csv('Car_sales.csv')

In [8]:
# selecting columns
df_cars =  df_cars[['Manufacturer','Sales_in_thousands', 'Vehicle_type', 'Price_in_thousands', 'Engine_size', 'Horsepower', 'Fuel_capacity']]

In [13]:
# calculate number of unique values
df_cars.nunique()

Manufacturer           30
Sales_in_thousands    157
Vehicle_type            2
Price_in_thousands    152
Engine_size            31
Horsepower             66
Fuel_capacity          55
dtype: int64

# agg()

In [20]:
# calculate the sum of columns
df_cars.agg('sum')

Manufacturer          AcuraAcuraAcuraAcuraAudiAudiAudiBMWBMWBMWBuick...
Sales_in_thousands                                             8320.698
Vehicle_type          PassengerPassengerPassengerPassengerPassengerP...
Price_in_thousands                                             4245.567
Engine_size                                                       477.5
Horsepower                                                      29008.0
Fuel_capacity                                                    2800.5
dtype: object

In [22]:
# calculate the mean of numeric columns
df_cars.agg('mean', numeric_only=True)

Sales_in_thousands     52.998076
Price_in_thousands     27.390755
Engine_size             3.060897
Horsepower            185.948718
Fuel_capacity          17.951923
dtype: float64

In [30]:
# calculate the mean and count values
# Select numbers first, then apply both mean and count
df_cars.select_dtypes(include='number').agg(['mean', 'count'])

,Sales_in_thousands,Price_in_thousands,Engine_size,Horsepower,Fuel_capacity
mean,52.998076,27.390755,3.060897,185.948718,17.951923
count,157.000000,155.000000,156.000000,156.000000,156.000000

In [32]:
# Different aggregations per column: calculate the sum and mean of 'Sales_in_thousands' and sum and max of 'Price_in_thousands'
df_cars.agg({'Sales_in_thousands' : ['sum', 'mean'], 'Price_in_thousands' : ['sum', 'max']} )

      Sales_in_thousands  Price_in_thousands
sum          8320.698000            4245.567
mean           52.998076                 NaN
max                  NaN              85.500

In [44]:
# aggregate over the columns.
df_cars[['Sales_in_thousands' , 'Price_in_thousands']].agg('sum', axis=1)

0      38.419
1      67.784
2      14.114
3      50.588
4      44.387
        ...
152    27.945
153    42.745
154    46.331
155    48.993
156    54.969
Length: 157, dtype: float64

In [43]:
# equivalent (NaN behaves differently)
df_cars['Sales_in_thousands'] + df_cars['Price_in_thousands']

0      38.419
1      67.784
2         NaN
3      50.588
4      44.387
        ...
152    27.945
153    42.745
154    46.331
155    48.993
156    54.969
Length: 157, dtype: float64

In [52]:
# aggregate different functions and rename the index of the resulting DataFrame.
df_cars.agg(x = ('Sales_in_thousands', 'sum'),
            y = ('Price_in_thousands', 'max'))

   Sales_in_thousands  Price_in_thousands
x            8320.698                 NaN
y                 NaN                85.5

# The Split-Apply-Combine Strategy

In [56]:
# split data into separate groups
car = df_cars['Vehicle_type'] == 'Car'
passenger = df_cars['Vehicle_type'] == 'Passenger'

In [62]:
# apply an operation
car_avg = df_cars[car]['Sales_in_thousands'].mean()
pas_avg = df_cars[passenger]['Sales_in_thousands'].mean()

In [66]:
# combine results
pd.DataFrame({'Vehicle_type': ['Car', 'Passenger'], 'Sales_in_thousands': [car_avg, pas_avg]}).set_index('Vehicle_type')

              Sales_in_thousands
Vehicle_type
Car                    80.622293
Passenger              43.234345

# groupby()

In [73]:
# group by Vehicle_type and calculate the mean
df_cars.groupby('Vehicle_type').mean(numeric_only=True)

,Sales_in_thousands,Price_in_thousands,Engine_size,Horsepower,Fuel_capacity
Vehicle_type,,,,,
Car,80.622293,26.319975,3.520000,186.400000,21.895000
Passenger,43.234345,27.763200,2.902586,185.793103,16.592241

In [76]:
# group by Manufacturer
df_cars.groupby('Manufacturer')

In [80]:
# the groupby_obj
groupby_obj = df_cars.groupby('Manufacturer')

In [85]:
# groups attribute and keys
groupby_obj.groups.keys()

dict_keys(['Acura', 'Audi', 'BMW', 'Buick', 'Cadillac', 'Chevrolet', 'Chrysler', 'Dodge', 'Ford', 'Honda', 'Hyundai', 'Infiniti', 'Jaguar', 'Jeep', 'Lexus', 'Lincoln', 'Mercedes-B', 'Mercury', 'Mitsubishi', 'Nissan', 'Oldsmobile', 'Plymouth', 'Pontiac', 'Porsche', 'Saab', 'Saturn', 'Subaru', 'Toyota', 'Volkswagen', 'Volvo'])

In [90]:
# get a specific group within the Manufacturer column
groupby_obj.get_group('Acura')

,Manufacturer,Sales_in_thousands,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Fuel_capacity
0,Acura,16.919,Passenger,21.5,1.8,140.0,13.2
1,Acura,39.384,Passenger,28.4,3.2,225.0,17.2
2,Acura,14.114,Passenger,NaN,3.2,225.0,17.2
3,Acura,8.588,Passenger,42.0,3.5,210.0,18.0

In [89]:
# group by Manufacturer and calculate the mean
df_cars.groupby('Manufacturer').mean(numeric_only=True)

,Sales_in_thousands,Price_in_thousands,Engine_size,Horsepower,Fuel_capacity
Manufacturer,,,,,
Acura,19.751250,30.633333,2.925000,200.000000,16.400000
Audi,13.519000,39.980000,2.933333,220.000000,19.533333
BMW,15.501667,33.096667,2.700000,185.333333,17.233333
Buick,60.504750,26.781250,3.625000,206.250000,17.750000
Cadillac,22.435600,40.254000,4.500000,256.000000,20.800000
Chevrolet,61.596111,20.022778,3.055556,171.111111,15.477778
Chrysler,28.817286,23.430833,2.783333,194.833333,16.483333
Dodge,82.740818,24.213636,3.709091,199.545455,21.581818
Ford,183.875909,21.047273,3.327273,170.090909,19.063636
Honda,118.534800,20.277000,2.520000,160.400000,17.080000
Hyundai,45.775333,12.165667,1.966667,126.666667,14.533333
Infiniti,23.713000,29.465000,3.000000,227.000000,18.500000
Jaguar,15.467000,42.800000,3.000000,240.000000,18.400000
Jeep,97.717667,20.991667,3.500000,168.333333,19.833333
Lexus,17.807167,44.055000,3.616667,245.833333,20.533333
Lincoln,28.544667,41.690000,4.866667,263.333333,23.000000
Mercedes-B,13.013889,52.916667,3.422222,232.222222,18.922222
Mercury,39.666500,20.748333,3.150000,163.833333,17.833333
Mitsubishi,25.842143,22.167429,2.800000,165.142857,18.285714
Nissan,57.090714,22.360714,2.914286,169.000000,18.200000
Oldsmobile,29.831500,25.622833,3.450000,190.000000,18.200000
Plymouth,16.000250,22.642500,2.475000,166.750000,15.125000
Pontiac,61.755667,22.949167,3.433333,185.000000,17.916667
Porsche,4.042667,62.473333,3.166667,272.333333,17.000000
Saab,10.653000,29.610000,2.150000,177.500000,17.700000
Saturn,33.770000,14.271000,2.020000,119.600000,12.500000
Subaru,40.067500,21.395000,2.500000,165.000000,16.400000
Toyota,82.245000,21.982889,2.622222,160.666667,17.766667
Volkswagen,34.868667,17.698333,1.966667,120.833333,14.700000
Volvo,12.623333,30.933333,2.300000,182.166667,17.833333

In [92]:
# group by Manufacturer and calculate the sum
df_cars.groupby('Manufacturer').sum(numeric_only=True)

,Sales_in_thousands,Price_in_thousands,Engine_size,Horsepower,Fuel_capacity
Manufacturer,,,,,
Acura,79.005,91.900,11.7,800.0,65.6
Audi,40.557,119.940,8.8,660.0,58.6
BMW,46.505,99.290,8.1,556.0,51.7
Buick,242.019,107.125,14.5,825.0,71.0
Cadillac,112.178,201.270,22.5,1280.0,104.0
Chevrolet,554.365,180.205,27.5,1540.0,139.3
Chrysler,201.721,140.585,16.7,1169.0,98.9
Dodge,910.149,266.350,40.8,2195.0,237.4
Ford,2022.635,231.520,36.6,1871.0,209.7
Honda,592.674,101.385,12.6,802.0,85.4
Hyundai,137.326,36.497,5.9,380.0,43.6
Infiniti,23.713,29.465,3.0,227.0,18.5
Jaguar,15.467,42.800,3.0,240.0,18.4
Jeep,293.153,62.975,10.5,505.0,59.5
Lexus,106.843,264.330,21.7,1475.0,123.2
Lincoln,85.634,125.070,14.6,790.0,69.0
Mercedes-B,117.125,476.250,30.8,2090.0,170.3
Mercury,237.999,124.490,18.9,983.0,107.0
Mitsubishi,180.895,155.172,19.6,1156.0,128.0
Nissan,399.635,156.525,20.4,1183.0,127.4
Oldsmobile,178.989,153.737,20.7,1140.0,109.2
Plymouth,64.001,90.570,9.9,667.0,60.5
Pontiac,370.534,137.695,20.6,1110.0,107.5
Porsche,12.128,187.420,9.5,817.0,51.0
Saab,21.306,59.220,4.3,355.0,35.4
Saturn,168.850,71.355,10.1,598.0,62.5
Subaru,80.135,42.790,5.0,330.0,32.8
Toyota,740.205,197.846,23.6,1446.0,159.9
Volkswagen,209.212,106.190,11.8,725.0,88.2
Volvo,75.740,185.600,13.8,1093.0,107.0

In [93]:
# grou by Vehicle_type and count values
df_cars.groupby('Vehicle_type').count()

,Manufacturer,Sales_in_thousands,Price_in_thousands,Engine_size,Horsepower,Fuel_capacity
Vehicle_type,,,,,,
Car,41,41,40,40,40,40
Passenger,116,116,115,116,116,116

In [95]:
# find null values in columns
df_cars.isnull().sum()

Manufacturer          0
Sales_in_thousands    0
Vehicle_type          0
Price_in_thousands    2
Engine_size           1
Horsepower            1
Fuel_capacity         1
dtype: int64

In [98]:
# grou by Engine_size and count values without dropping NaN values
df_cars.groupby('Engine_size', dropna=False).count()

,Manufacturer,Sales_in_thousands,Vehicle_type,Price_in_thousands,Horsepower,Fuel_capacity
Engine_size,,,,,,
1.0,1,1,1,1,1,1
1.5,1,1,1,1,1,1
1.6,1,1,1,1,1,1
1.8,8,8,8,8,8,8
1.9,5,5,5,5,5,5
2.0,17,17,17,17,17,17
2.2,4,4,4,4,4,4
2.3,6,6,6,6,6,6
2.4,11,11,11,11,11,11
2.5,11,11,11,11,11,11
2.7,4,4,4,4,4,4
2.8,3,3,3,3,3,3
2.9,1,1,1,1,1,1
3.0,14,14,14,14,14,14
3.1,4,4,4,4,4,4
3.2,6,6,6,5,6,6
3.3,5,5,5,5,5,5
3.4,7,7,7,7,7,7
3.5,8,8,8,8,8,8
3.8,8,8,8,8,8,8
3.9,2,2,2,2,2,2
4.0,7,7,7,7,7,7
4.2,1,1,1,1,1,1
4.3,2,2,2,2,2,2
4.6,9,9,9,9,9,9
4.7,2,2,2,2,2,2
5.0,2,2,2,2,2,2
5.2,2,2,2,2,2,2
5.4,1,1,1,1,1,1
5.7,2,2,2,2,2,2
8.0,1,1,1,1,1,1
NaN,1,1,1,0,0,0

# Groupby() and agg()

In [104]:
# find the minimum and maximum values on each column
df_cars.groupby('Vehicle_type').agg(['max', 'min'])

             Manufacturer           Sales_in_thousands         \
                      max       min                max    min
Vehicle_type
Car                Toyota  Cadillac            540.561  9.126
Passenger           Volvo     Acura            247.994  0.110

             Price_in_thousands         Engine_size      Horsepower         \
                            max     min         max  min        max    min
Vehicle_type
Car                      60.105  11.528         5.7  2.0      300.0  119.0
Passenger                85.500   9.235         8.0  1.0      450.0   55.0

             Fuel_capacity
                       max   min
Vehicle_type
Car                   32.0  15.1
Passenger             23.7  10.3

In [105]:
# set a name for aggregated column
# find the min Engine_size and max Horsepower
df_cars.groupby('Vehicle_type').agg(x = ('Engine_size', 'min'), y = ('Horsepower', 'max'))

                x      y
Vehicle_type
Car           2.0  300.0
Passenger     1.0  450.0

In [112]:
# calculate the sum of Sales_in_thousands and mean of Price_in_thousands
df_cars.groupby('Manufacturer').agg(x = ('Sales_in_thousands', 'sum'), y = ('Price_in_thousands', 'mean'))

                     x          y
Manufacturer
Acura           79.005  30.633333
Audi            40.557  39.980000
BMW             46.505  33.096667
Buick          242.019  26.781250
Cadillac       112.178  40.254000
Chevrolet      554.365  20.022778
Chrysler       201.721  23.430833
Dodge          910.149  24.213636
Ford          2022.635  21.047273
Honda          592.674  20.277000
Hyundai        137.326  12.165667
Infiniti        23.713  29.465000
Jaguar          15.467  42.800000
Jeep           293.153  20.991667
Lexus          106.843  44.055000
Lincoln         85.634  41.690000
Mercedes-B     117.125  52.916667
Mercury        237.999  20.748333
Mitsubishi     180.895  22.167429
Nissan         399.635  22.360714
Oldsmobile     178.989  25.622833
Plymouth        64.001  22.642500
Pontiac        370.534  22.949167
Porsche         12.128  62.473333
Saab            21.306  29.610000
Saturn         168.850  14.271000
Subaru          80.135  21.395000
Toyota         740.205  21.982889
Volkswagen     209.212  17.698333
Volvo           75.740  30.933333

# Lambda

Apply your own function

In [115]:
# get actual sales and price values
df_cars.groupby('Manufacturer').sum(numeric_only=True).head()

,Sales_in_thousands,Price_in_thousands,Engine_size,Horsepower,Fuel_capacity
Manufacturer,,,,,
Acura,79.005,91.900,11.7,800.0,65.6
Audi,40.557,119.940,8.8,660.0,58.6
BMW,46.505,99.290,8.1,556.0,51.7
Buick,242.019,107.125,14.5,825.0,71.0
Cadillac,112.178,201.270,22.5,1280.0,104.0

In [119]:
df_cars.groupby('Manufacturer').sum()[['Sales_in_thousands', 'Price_in_thousands']].apply(lambda x : x * 1000)

              Sales_in_thousands  Price_in_thousands
Manufacturer
Acura                    79005.0             91900.0
Audi                     40557.0            119940.0
BMW                      46505.0             99290.0
Buick                   242019.0            107125.0
Cadillac                112178.0            201270.0
Chevrolet               554365.0            180205.0
Chrysler                201721.0            140585.0
Dodge                   910149.0            266350.0
Ford                   2022635.0            231520.0
Honda                   592674.0            101385.0
Hyundai                 137326.0             36497.0
Infiniti                 23713.0             29465.0
Jaguar                   15467.0             42800.0
Jeep                    293153.0             62975.0
Lexus                   106843.0            264330.0
Lincoln                  85634.0            125070.0
Mercedes-B              117125.0            476250.0
Mercury                 237999.0            124490.0
Mitsubishi              180895.0            155172.0
Nissan                  399635.0            156525.0
Oldsmobile              178989.0            153737.0
Plymouth                 64001.0             90570.0
Pontiac                 370534.0            137695.0
Porsche                  12128.0            187420.0
Saab                     21306.0             59220.0
Saturn                  168850.0             71355.0
Subaru                   80135.0             42790.0
Toyota                  740205.0            197846.0
Volkswagen              209212.0            106190.0
Volvo                    75740.0            185600.0

In [128]:
# subtrack values from the mean of each group
df_cars.groupby('Manufacturer').apply(lambda x : x - x.mean(numeric_only=True))

C:\Users\Laerze\AppData\Local\Temp\ipykernel_10528\1704366890.py:2: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_cars.groupby('Manufacturer').apply(lambda x : x - x.mean(numeric_only=True))

                  Engine_size  Fuel_capacity  Horsepower Manufacturer  \
Manufacturer
Acura        0      -1.125000      -3.200000  -60.000000          NaN
             1       0.275000       0.800000   25.000000          NaN
             2       0.275000       0.800000   25.000000          NaN
             3       0.575000       1.600000   10.000000          NaN
Audi         4      -1.133333      -3.133333  -70.000000          NaN
...                       ...            ...         ...          ...
Volvo        152    -0.400000      -2.033333  -22.166667          NaN
             153     0.100000       0.066667  -14.166667          NaN
             154     0.100000       0.066667  -14.166667          NaN
             155     0.000000       0.666667   53.833333          NaN
             156     0.600000       3.266667   18.833333          NaN

                  Price_in_thousands  Sales_in_thousands Vehicle_type
Manufacturer
Acura        0             -9.133333           -2.832250          NaN
             1             -2.233333           19.632750          NaN
             2                   NaN           -5.637250          NaN
             3             11.366667          -11.163250          NaN
Audi         4            -15.990000            6.878000          NaN
...                              ...                 ...          ...
Volvo        152           -6.533333           -9.078333          NaN
             153           -3.433333            2.621667          NaN
             154           -2.133333            4.907667          NaN
             155           14.566667           -9.130333          NaN
             156            5.066667            6.345667          NaN

[157 rows x 7 columns]

In [126]:
# [['Price_in_thousands', 'Sales_in_thousand
df_cars.groupby('Manufacturer').sum()

,Sales_in_thousands,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Fuel_capacity
Manufacturer,,,,,,
Acura,79.005,PassengerPassengerPassengerPassenger,91.900,11.7,800.0,65.6
Audi,40.557,PassengerPassengerPassenger,119.940,8.8,660.0,58.6
BMW,46.505,PassengerPassengerPassenger,99.290,8.1,556.0,51.7
Buick,242.019,PassengerPassengerPassengerPassenger,107.125,14.5,825.0,71.0
Cadillac,112.178,PassengerPassengerPassengerPassengerCar,201.270,22.5,1280.0,104.0
Chevrolet,554.365,PassengerPassengerPassengerPassengerPassengerP...,180.205,27.5,1540.0,139.3
Chrysler,201.721,PassengerPassengerPassengerPassengerPassengerC...,140.585,16.7,1169.0,98.9
Dodge,910.149,PassengerPassengerPassengerPassengerPassengerC...,266.350,40.8,2195.0,237.4
Ford,2022.635,PassengerPassengerPassengerPassengerPassengerP...,231.520,36.6,1871.0,209.7
Honda,592.674,PassengerPassengerCarCarCar,101.385,12.6,802.0,85.4
Hyundai,137.326,PassengerPassengerPassenger,36.497,5.9,380.0,43.6
Infiniti,23.713,Passenger,29.465,3.0,227.0,18.5
Jaguar,15.467,Passenger,42.800,3.0,240.0,18.4
Jeep,293.153,CarCarCar,62.975,10.5,505.0,59.5
Lexus,106.843,PassengerPassengerPassengerPassengerCarCar,264.330,21.7,1475.0,123.2
Lincoln,85.634,PassengerPassengerCar,125.070,14.6,790.0,69.0
Mercedes-B,117.125,PassengerPassengerPassengerPassengerPassengerP...,476.250,30.8,2090.0,170.3
Mercury,237.999,PassengerPassengerPassengerPassengerCarCar,124.490,18.9,983.0,107.0
Mitsubishi,180.895,PassengerPassengerPassengerPassengerPassengerC...,155.172,19.6,1156.0,128.0
Nissan,399.635,PassengerPassengerPassengerCarCarCarCar,156.525,20.4,1183.0,127.4
Oldsmobile,178.989,PassengerPassengerPassengerPassengerCarCar,153.737,20.7,1140.0,109.2
Plymouth,64.001,PassengerPassengerCarPassenger,90.570,9.9,667.0,60.5
Pontiac,370.534,PassengerPassengerPassengerPassengerPassengerCar,137.695,20.6,1110.0,107.5
Porsche,12.128,PassengerPassengerPassenger,187.420,9.5,817.0,51.0
Saab,21.306,PassengerPassenger,59.220,4.3,355.0,35.4
Saturn,168.850,PassengerPassengerPassengerPassengerPassenger,71.355,10.1,598.0,62.5
Subaru,80.135,PassengerCar,42.790,5.0,330.0,32.8
Toyota,740.205,PassengerPassengerPassengerPassengerCarCarCarC...,197.846,23.6,1446.0,159.9
Volkswagen,209.212,PassengerPassengerPassengerPassengerPassengerP...,106.190,11.8,725.0,88.2
Volvo,75.740,PassengerPassengerPassengerPassengerPassengerP...,185.600,13.8,1093.0,107.0

# Filtration

In [134]:
# calculate the mean of Sales_in_thousands
df_cars['Sales_in_thousands'].mean(numeric_only=True)

np.float64(52.99807643312102)

In [144]:
df_cars.groupby('Manufacturer')['Sales_in_thousands'].sum()

Manufacturer
Acura           79.005
Audi            40.557
BMW             46.505
Buick          242.019
Cadillac       112.178
Chevrolet      554.365
Chrysler       201.721
Dodge          910.149
Ford          2022.635
Honda          592.674
Hyundai        137.326
Infiniti        23.713
Jaguar          15.467
Jeep           293.153
Lexus          106.843
Lincoln         85.634
Mercedes-B     117.125
Mercury        237.999
Mitsubishi     180.895
Nissan         399.635
Oldsmobile     178.989
Plymouth        64.001
Pontiac        370.534
Porsche         12.128
Saab            21.306
Saturn         168.850
Subaru          80.135
Toyota         740.205
Volkswagen     209.212
Volvo           75.740
Name: Sales_in_thousands, dtype: float64

In [145]:
# filter certain values out based on sum() and return a subset
def filter1(x):
    return x['Sales_in_thousands'].sum() > 52;
df_cars.groupby('Manufacturer').filter(filter1).head(36)

,Manufacturer,Sales_in_thousands,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Fuel_capacity
0,Acura,16.919,Passenger,21.500,1.8,140.0,13.2
1,Acura,39.384,Passenger,28.400,3.2,225.0,17.2
2,Acura,14.114,Passenger,NaN,3.2,225.0,17.2
3,Acura,8.588,Passenger,42.000,3.5,210.0,18.0
10,Buick,91.561,Passenger,21.975,3.1,175.0,17.5
11,Buick,39.350,Passenger,25.300,3.8,240.0,17.5
12,Buick,27.851,Passenger,31.965,3.8,205.0,18.5
13,Buick,83.257,Passenger,27.885,3.8,205.0,17.5
14,Cadillac,63.729,Passenger,39.895,4.6,275.0,18.5
15,Cadillac,15.943,Passenger,44.475,4.6,275.0,18.5
16,Cadillac,6.536,Passenger,39.665,4.6,275.0,19.0
17,Cadillac,11.185,Passenger,31.010,3.0,200.0,18.0
18,Cadillac,14.785,Car,46.225,5.7,255.0,30.0
19,Chevrolet,145.519,Passenger,13.260,2.2,115.0,14.3
20,Chevrolet,135.126,Passenger,16.535,3.1,170.0,15.0
21,Chevrolet,24.629,Passenger,18.890,3.1,175.0,16.6
22,Chevrolet,42.593,Passenger,19.390,3.4,180.0,17.0
23,Chevrolet,26.402,Passenger,24.340,3.8,200.0,16.8
24,Chevrolet,17.947,Passenger,45.705,5.7,345.0,19.1
25,Chevrolet,32.299,Passenger,13.960,1.8,120.0,13.2
26,Chevrolet,21.855,Passenger,9.235,1.0,55.0,10.3
27,Chevrolet,107.995,Passenger,18.890,3.4,180.0,17.0
28,Chrysler,7.854,Passenger,19.840,2.5,163.0,15.9
29,Chrysler,32.775,Passenger,24.495,2.5,168.0,16.0
30,Chrysler,31.148,Passenger,22.245,2.7,200.0,17.0
31,Chrysler,32.306,Passenger,16.480,2.0,132.0,16.0
32,Chrysler,13.462,Passenger,28.340,3.5,253.0,17.0
33,Chrysler,53.480,Car,NaN,NaN,NaN,NaN
34,Chrysler,30.696,Passenger,29.185,3.5,253.0,17.0
35,Dodge,76.034,Passenger,12.640,2.0,132.0,12.5
36,Dodge,4.734,Passenger,19.045,2.5,163.0,15.9
37,Dodge,71.186,Passenger,20.230,2.5,168.0,16.0
38,Dodge,88.028,Passenger,22.505,2.7,202.0,17.0
39,Dodge,0.916,Passenger,69.725,8.0,450.0,19.0
40,Dodge,227.061,Car,19.460,5.2,230.0,26.0
41,Dodge,16.767,Car,21.315,3.9,175.0,32.0