In [1]:
import pandas as pd

In [2]:
df_laptop = pd.read_csv('laptop_price.csv', encoding='Latin1')

In [15]:
# get number of unique elements in the "Inches" column
df_laptop['Inches'].nunique()

18

In [11]:
# get unique elements in the "Inches" column
df_laptop['Inches'].unique()

array([13.3, 15.6, 15.4, 14. , 12. , 11.6, 17.3, 10.1, 13.5, 12.5, 13. ,
       18.4, 13.9, 12.3, 17. , 15. , 14.1, 11.3])

In [16]:
df_laptop['Company'].unique()

array(['Apple', 'HP', 'Acer', 'Asus', 'Dell', 'Lenovo', 'Chuwi', 'MSI',
       'Microsoft', 'Toshiba', 'Huawei', 'Xiaomi', 'Vero', 'Razer',
       'Mediacom', 'Samsung', 'Google', 'Fujitsu', 'LG'], dtype=object)

In [12]:

# get the length of unique elements
len(df_laptop['Company'].unique())

19

In [13]:
# get number of unique elements in the "Company" column
df_laptop['Company'].nunique()

19